// -- -- -- -- --
// _layout.scss

.maxwidth {
   margin-right: auto;
   margin-left: auto;
   max-width: 1366px; /* or 1360px */
}

#sitedesc_image {
    width: 354px;
    height: 80px;
    max-width: 100%; 
    background: transparent url(/assets/site/images/sfme.png) no-repeat left top;
    background-size: 100% auto;
    float: none;
    margin: 0 auto;  
}

