---
type   : presentation
title  : "Eleventy - Presentation Slide"
date   : 2020-02-07T09:17:35+07:00
slug   : 11ty-presentation
categories: [ssg]
tags      : [11ty, bulma]
keywords  : [presentation, static site, markdown, advantage, disadvantage]
author : epsi
opengraph:
  image: assets/site/images/kiddo-bulat-008.png

excerpt:
  Presentation of SSG concept.
  Introduction to Eleventy static site generator.

---

  <section>
    <h3>Eleventy Static Generator</h3>
    <p>Building Site with Eleventy.</p>
    <br>
    <p><small>This media can also be read in: 
      <a href="{{< baseurl >}}ssg/2020/02/06/11ty-summary/">
      [Eleventy - Summary]</a> article</small>
    </p>
  </section>

  <section>
    <h3>About Me 🙋🏻‍♂️!</h3>
    <img class="plain" style="background:none;" alt="my photo"
         src="{{< baseurl >}}assets/site/images/authors/epsi-2017-bulat.png">
    <p>Yet, another underachiever 👻.</p>
    <p>But hey, I have my own blog 🎉.</p>
  </section>

  <section>
    <h3>Why Eleventy 🤔?</h3>
    <ul>
      <li>Static Site Generator:<br/>
        <small>Focus on frontend: Great theme.</small></li>
      <li>Markdown:<br/>
        <small>Concentrate more on content.</small></li>
      <li>Freedom:<br/>
        <small>Flexible Choices of Templating Engine.</small></li>
      <li>And More Freedom:<br/>
        <small>Filter, Shortcode, Collections.</small></li>
    </ul>
  </section>

  <section>
    <h3>Why Eleventy 🤔?</h3>
    <p>This is just an example project.
    Most you can do with one SSG can be done with other SSG as well.</p>
    <p>You are free to use your SSG choice:<br/>
    <small>Jekyll, Hugo, Eleventy, 11ty, Pelican, Gatsby</small></p>
    <p><small>Read this concept first:
    <a href="{{< baseurl >}}/ssg/2019/02/17/concept-ssg/">
    [Presentation - Concept SSG]</a></small></p>
  </section>

  <section>
    <h3>Why Nunjucks 🤔?</h3>
    <ul>
      <li>Template Inheritance:<br/>
        <small>This is a cool feature.</small></li>
      <li>Custom Filter:<br/>
        <small>Plain javascript is easier to use.</small></li>
      <li>Default Example in Eleventy:<br/>
        <small>Mostly because default example in Eleventy is Nunjucks.</small></li>
    </ul>
  </section>

  <section>
    <h3>Any Expectation 🤔?</h3>
    <ul>
      <li>Case can be applied somewhere else.<br/>
        <small>Most stuff applied in other SSG.<br/>
        Just don't be a fanatic.</small></li>
      <li>An example case for beginner.<br/>
        <small>Just another humble example.</small></li>
      <li>Starting point for a serious writer.<br/>
        <small>After all, making a blog site is easy and fun.</small></li>
    </ul>
  </section>

  <section>
    <h3>Step of Making Theme 🤔?</h3>
    <ul>
      <li>Eleventy Basic:<br/>
        <small>Preparing layout with templating engine.</small></li>
      <li>General Design:<br/>
        <small>Preparing site wide design.</small></li>
      <li>Custom Pages:<br/>
        <small>Making necessary Custom pages and Layout.</small></li>
      <li>Optional Component:<br/>
        <small>Such as static data, widget and pagination.</small></li>
      <li>Page Content:<br/>
        <small>Meta SEO, TOC, markdown, shortcode,<br/>
        syntax highlighting, stylesheet adjustment, MathJax.</small></li>
    </ul>
  </section>

  <section>
    <h4>Layout changes for each steps</h4>
    <img class="plain" alt="Layout changes for each steps"
         src="{{< assets-ssg >}}/2020/02/template-inheritance-animate.gif">
  </section>

  <section>
    <h3>1: Eleventy Basic 🤠</h3>
    <ul>
      <li data-tutor="01">Minimal Layout</li>
      <li data-tutor="02">Partial Layout</li>
      <li data-tutor="03">Configuration</li>
      <li data-tutor="03">Collections</li>
    </ul>
  </section>

  <section data-tutor="01">
    <h4>Minimal Layout</h4>
    <p>The easiest thing to do this is to make a minimal layout,
    and modified later.</p>
    <img class="plain" alt="Eleventy: Minimal Layout"
         src="{{< assets-ssg >}}/2020/01/01-11ty-tree-views.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/02/11ty-minimal/">
    [Eleventy - Minimal]</a></small></p>
  </section>

  <section data-tutor="02">
    <h4>Partial Layout</h4>
    <p>Just a bit of refactoring.</p>
    <img class="plain" alt="Eleventy: Extending with Partial Layout"
         src="{{< assets-ssg >}}/2020/01/02-tree-views-includes.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/01/03/11ty-layout/">
    [Eleventy - Layout]</a></small></p>
  </section>
 
  <section>
    <h4>Layout Template</h4>
    <p>With a very humble result as figure below</p>
    <img class="plain" alt="Eleventy: Page Content: Index"
         src="{{< assets-ssg >}}/2020/01/02-pages-archive.png">
  </section>  

  <section data-tutor="03">
    <h4>Configuration</h4>
    <p>In the heart of Eleventy, you can add:<br/>
      <small>alias, filter, collections and shortcodes</small></p>
    <img class="plain" alt="Eleventy: Configuration Object"
         src="{{< assets-ssg >}}/2020/01/03-vim-configuration.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/01/04/11ty-configuration/">
    [Eleventy - Configuration]</a></small></p>
  </section>

  <section data-tutor="03">
    <h4>Collections</h4>
    <p>Manage tags using collections object:<br/>
      <small>using only plain javascript.</small></p>
    <img class="plain" alt="Eleventy: Accessing tag using Collections"
         src="{{< assets-ssg >}}/2020/01/03-vim-gettaglist.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/01/05/11ty-collections/">
    [Eleventy - Collections]</a></small></p>
  </section>

  <section>
    <h3>2: General Layout 🤠</h3>
    <ul>
      <li data-tutor="04">Responsive Page Layout</li>
      <li data-tutor="04">Adding Assets</li>
      <li data-tutor="04">Using CSS Frameworks</li>
      <li data-tutor="04">Standard Layout</li>
      <li data-tutor="05">Using Custom SASS</li>
      <li data-tutor="05">Enhanced Layout</li>
    </ul>
  </section>

  <section data-tutor="04">
    <h4>Mobile First Page Design</h4>
    <img class="plain" alt="Eleventy Bulma: Responsive Page Design"
         src="{{< baseurl >}}assets/posts/frontend/2019/12/layout-page-trans.png">
  </section>

  <section data-tutor="04">
    <h4>Adding Assets</h4>
    <p>You can add any necessary assets such as:
    images, css frameworks, and javascript frameworks.</p>
    <img class="plain" alt="Eleventy Bulma: Assets Tree"
         src="{{< assets-ssg >}}/2020/01/04-tree-assets.png">
  </section>

  <section data-tutor="04">
    <h4>Using CSS Frameworks</h4>
    <p>Using CSS framework such as Bulma or Bootstrap or Custom,
    can make your life easier.</p>
    <img class="plain"
         alt="Eleventy Bulma: Home Page Content"
         src="{{< assets-ssg >}}/2020/01/04-pages-home-alternate.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/07/11ty-bulma-css-intro/">
    [Eleventy - Bulma - CSS - Part One]</a></small></p>
  </section>

  <section data-tutor="04">
    <h4>Standard Layout</h4>
    <p>The base parent layout in Nunjucks.</p>
    <img class="plain"
         alt="Eleventy Bulma: Parent Layout"
         src="{{< assets-ssg >}}/2020/01/04-vim-parent.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/08/11ty-bulma-css-layout/">
    [Eleventy - Bulma - CSS - Part Two]</a></small></p>
  </section>

  <section data-tutor="04">
    <h4>Standard Layout</h4>
    <p>Using simple template inheritance with Nunjucks
    in Eleventy Layout.</p>
    <img class="plain"
         alt="Eleventy Bulma: Child Layout"
         src="{{< assets-ssg >}}/2020/01/04-vim-child.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/08/11ty-bulma-css-layout/">
    [Eleventy - Bulma - CSS - Part Two]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Using Custom SASS</h4>
    <p>You desire for a better design.<br/>
    <small>Further, you can utilize stylesheet<br/>to control your responsive space,
       or custom component</small></p>    
    <img class="plain"
         alt="Eleventy Bulma MD: Home Page Content"
         src="{{< assets-ssg >}}/2020/01/05-pages-home-alternate.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/09/11ty-bulma-sass-intro/">
    [Eleventy - Bulma - SASS - Part One]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Using Custom SASS</h4>
    <p>Long code tends to get messy.<br/>
    <small>You need to get organized.</small></p>
    <img class="plain"
         alt="Eleventy Bulma MD: SASS Tree"
         src="{{< assets-ssg >}}/2020/01/05-tree-sass.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/09/11ty-bulma-sass-intro/">
    [Eleventy - Bulma - SASS - Part One]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Enhanced Layout</h4>
    <p>Using multilevel template inheritance with Nunjucks
    in Eleventy Layout.</p>
    <img class="plain"
         alt="Eleventy Bulma: Child Layout"
         src="{{< assets-ssg >}}/2020/01/05-vim-child.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/10/11ty-bulma-sass-layout/">
    [Eleventy - Bulma - SASS - Part Two]</a></small></p>
  </section>

  <section>
    <h3>3: Custom Pages 🤠</h3>
    <ul>
      <li data-tutor="06">Default Custom Index Pages</li>
      <li data-tutor="06">Adding Enough Content</li>
      <li data-tutor="06">Custom Filter</li>
      <li data-tutor="06">Archive Page</li>
      <li data-tutor="06">Blog Page</li>
      <li data-tutor="06">Tags Page</li>
      <li data-tutor="06">Custom Output</li>
      <li data-tutor="07">Nunjucks Layout</li>
    </ul>
  </section>

  <section data-tutor="06">
    <h4>Default Custom Index Pages</h4>
    <p>So far we have this three special index pages.</p>
    <ul>
      <li>Blog (paginated):<br/>
        <small>http://localhost:8080/pages/</small></li>
      <li>Archive:<br/>
        <small>http://localhost:8080/pages/archive-by-year/<br/>
        http://localhost:8080/pages/archive-by-month/</small></li>
      <li>Tags:<br/>
        <small>http://localhost:8080/tags/<br/>
        http://localhost:8080/tags/90s/</small></li>
    </ul>
  </section>

  <section data-tutor="06">
    <h4>Adding Enough Content</h4>
    <p>Just make sure you have enough content.<br/>
    <small>With various published date, and various tags.<br/>
    At least 17 content to simulate responsive pagination later.</small></p>
    <img class="plain"
         alt="Eleventy: Populate with Content"
         src="{{< assets-ssg >}}/2020/01/06-tree-content.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/11/11ty-index-content">
    [Eleventy - Custom Index - Content]</a></small></p>
  </section>

  <section data-tutor="06">
    <h4>Custom Filter</h4>
    <p>Prepare configuration</p>
    <img class="plain"
         alt="Eleventy Bulma: Custom Nunjucks Filter"
         src="{{< assets-ssg >}}/2020/01/06-nunjucks-filters.png">
  </section>

  <section data-tutor="06">
    <h4>Archive Page</h4>
    <p>Start from simple archive list with plain looks.</p>
    <img class="plain"
         alt="Eleventy: Simple Archive Page"
         src="{{< assets-ssg >}}/2020/01/06-cropped-simple.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/12/11ty-index-archive/">
    [Eleventy - Custom Index - Archive]</a></small></p>
  </section>

  <section data-tutor="06">
    <h4>Archive Page</h4>
    <p>Instead of plain looks, you can style custom layout.</p>
    <img class="plain"
         alt="Eleventy: Styled Archive Page"
         src="{{< assets-ssg >}}/2020/01/06-cropped-styled.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/12/11ty-index-archive/">
    [Eleventy - Custom Index - Archive]</a></small></p>
  </section>
  
  <section data-tutor="06">
    <h4>Blog Page</h4>
    <p>With any looks, as creative as you can.</p>
    <img class="plain"
         alt="Eleventy: Blog Index Page"
         src="{{< assets-ssg >}}/2020/01/06-cropped-blog.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/14/11ty-index-blog/">
    [Eleventy - Custom Index - Blog]</a></small></p>
  </section>

  <section data-tutor="06">
    <h4>Tags Page</h4>
    <p>Your first attempt to make summary page.<br/>
    <small>Should begin with just a simple loop.</small></p>
    <img class="plain"
         alt="Eleventy: Simple Tags Page"
         src="{{< assets-ssg >}}/2020/01/06-cropped-tags-simple.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/13/11ty-index-tags/">
    [Eleventy - Custom Index - Tags]</a></small></p>
  </section>

  <section data-tutor="06">
    <h4>Tags Page</h4>
    <p>And then you can make a nicer looks.<br/>
    <small>From that simple loop above, using bulma's tag class.</small></p>
    <img class="plain"
         alt="Eleventy: Bulma's Tags Badge"
         src="{{< assets-ssg >}}/2020/01/06-cropped-tags-badge.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/13/11ty-index-tags/">
    [Eleventy - Custom Index - Tags]</a></small></p>
  </section>

  <section data-tutor="06">
    <h4>Tags Page</h4>
    <p>You can go further.<br/>
    <small>By showing tree of pages in this summary page.</small></p>
    <img class="plain"
         alt="Eleventy: Styled Tags Page"
         src="{{< assets-ssg >}}/2020/01/06-cropped-tags-styled.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/13/11ty-index-tags/">
    [Eleventy - Custom Index - Tags]</a></small></p>
  </section>

  <section data-tutor="06">
    <h4>Custom Output</h4>
    <p>Eleventy can generate custom output.<br/>
    <small>Without adding any plugin.<br/>
    After all this is just a static page.</small></p>
    <img class="plain"
         alt="Eleventy: Custom Output: JSON"
         src="{{< assets-ssg >}}/2020/01/06-pages-archive-json.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/15/11ty-index-custom-output/">
    [Eleventy - Custom Output]</a></small></p>
  </section>

  <section data-tutor="07">
    <h4>Nunjucks Layout</h4>
    <p>Color Property Propagation</p>
    <img class="plain"
         alt="Eleventy: Color Property Propagation"
         src="{{< assets-ssg >}}/2020/01/07-color-inheritance.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/16/11ty-nunjucks-layout/">
    [Eleventy - Nunjucks - Layout]</a></small></p>
  </section>

  <section data-tutor="07">
    <h4>Nunjucks Layout</h4>
    <p>Mobile First Content Design</p>
    <img class="plain" alt="Eleventy Bulma: Responsive Content Design"
         src="{{< baseurl >}}assets/posts/frontend/2019/12/layout-content-trans.png">
  </section>

  <section data-tutor="07">
    <h4>Nunjucks Layout</h4>
    <p>Responsive Index Columns</p>
    <img class="plain"
         alt="Eleventy: Responsive Index Columns"
         src="{{< assets-ssg >}}/2020/01/07-multiline-archive-by-year.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/16/11ty-nunjucks-index-list/">
    [Eleventy - Nunjucks - Index List]</a></small></p>
  </section>

  <section>
    <h3>4: Optional Component 🤠</h3>
    <ul>
      <li data-tutor="07">More Custom Filter</li>
      <li data-tutor="07">Widget</li>
      <li data-tutor="07">Static Data</li>
      <li data-tutor="07">Pagination</li>
    </ul>
  </section>

  <section data-tutor="07">
    <h4>More Custom Filter</h4>
    <p>Prepare more configuration</p>
    <img class="plain"
         alt="Eleventy Bulma: Custom Nunjucks Filter"
         src="{{< assets-ssg >}}/2020/01/07-nunjucks-filters.png">
  </section>

  <section data-tutor="07">
    <h4>Widget</h4>
    <p>Simple Widget<br/>
    <small>Start from simple, such as plain HTML list.</small></p>
    <img class="plain"
         alt="Eleventy Bulma: Simple Widget Example"
         src="{{< assets-ssg >}}/2020/01/07-widget-affiliates.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/18/11ty-widget-simple-html/">
    [Eleventy - Widget - Simple HTML]</a></small></p>
  </section>

  <section data-tutor="07">
    <h4>Widget</h4>
    <p>Nunjucks Loop<br/>
    <small>You can also put anything in your widget as creative as you are.</small></p>
    <img class="plain"
         alt="Eleventy Bulma: Custom Widget with Loop in Nunjucks"
         src="{{< assets-ssg >}}/2020/01/07-widget-archive-grouped.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/19/11ty-widget-nunjucks-loop/">
    [Eleventy - Widget - Nunjucks Loop]</a></small></p>
  </section>

  <section data-tutor="07">
    <h4>Static Data</h4>
    <small>To generate content, such as backlink, internal link, or other stuff.</small></p>
    <img class="plain"
         alt="Eleventy Bulma: Backlink form Github Blog"
         src="{{< assets-ssg >}}/2020/01/07-widget-archive-github.png">
    <img class="plain"
         alt="Eleventy Bulma: Backlink form Gitlab Blog"
         src="{{< assets-ssg >}}/2020/01/07-widget-archive-gitlab.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/01/20/11ty-widget-data/">
    [Eleventy - Widget - Static Data]</a></small></p>
  </section>

  <section data-tutor="07">
    <h4>Static Data</h4>
    <p>Now consider link the data.<br/>
    <small>From this content below.</small></p>
    <img class="plain"
         alt="Eleventy Bulma: Frontmatter: Related Post ID"
         src="{{< assets-ssg >}}/2020/01/07-related-links-id.png">
  </section>

  <section data-tutor="07">
    <h4>Static Data</h4>
    <p>With previous frontmatter.<br/>
    <small>We can see one or more links in a widget.</small></p>
    <img class="plain"
         alt="Eleventy Bulma: Widget: Related Posts"
         src="{{< assets-ssg >}}/2020/01/07-widget-related-posts.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/01/20/11ty-widget-data/">
    [Eleventy - Widget - Static Data]</a></small></p>
  </section>

  <section data-tutor="07">
    <h4>Pagination</h4>
    <p>Numbering:<br/>
    <small>Using Nunjucks and Bulma stylesheet,<br/>
    a common pagination could be achieved.</small></p>
    <img class="plain"
         alt="Eleventy Pagination: Combined Animation"
         src="{{< assets-ssg >}}/2020/01/11ty-bulma-indicator-animate.gif">
    <img class="plain"
         alt="Eleventy Pagination: Alternate Animation"
         src="{{< assets-ssg >}}/2020/01/11ty-bulma-alternate-animate.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/27/11ty-pagination-indicator/">
    [Eleventy - Pagination - Indicator]</a></small></p>
  </section>

  <section data-tutor="07">
    <h4>Pagination</h4>
    <p>Responsive:<br/>
    <small>Using Nunjucks and custom stylesheet,<br/>
    a responsive pagination also could be achieved.</small></p>
    <img class="plain"
         alt="Eleventy Pagination: Responsive Animation"
         src="{{< assets-ssg >}}/2020/01/11ty-bulma-responsive-animate.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/28/11ty-pagination-responsive/">
    [Eleventy - Pagination - Responsive]</a></small></p>
  </section>

  <section>
    <h3>5: Page Content 🤠</h3>
    <ul>
      <li data-tutor="08">Meta SEO</li>
      <li data-tutor="08">Layout: Blog Post</li>
      <li data-tutor="08">Markdown Configuration</li>
      <li data-tutor="08">Shortcode</li>
      <li data-tutor="08">Syntax Highlighting</li>
      <li data-tutor="08">Miscellanous</li>
    </ul>
  </section>

  <section data-tutor="08">
    <h4>Meta SEO</h4>
    <p>Opengraph is a must nowadays.</p>
    <img class="plain"
         alt="Eleventy Meta: Telegram Desktop Opengraph"
         src="{{< baseurl >}}assets/posts/ssg/2019/05/59-tele-desktop-opengraph-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/01/31/11ty-meta-seo/">
    [Eleventy - Meta - SEO]</a></small></p>
  </section>

  <section data-tutor="08">
    <h4>Layout: Blog Post</h4>
    <p>Your typical <strong>post.njk</strong>.<br/>
    <small>Should contain header, and optionally footer<br/>
    (such as license) and navigation.</small></p>
    <img class="plain"
         alt="Eleventy Content: Block Post Layout"
         src="{{< assets-ssg >}}/2020/02/08-block-layout-post.png">
  </section>

  <section data-tutor="08">
    <h4>Layout: Blog Post</h4>
    <p><small>A typical post can be seen in preview below.</small></p>
    <img class="plain"
         alt="Eleventy: Post with Header, Footer, and Navigation"
         src="{{< assets-ssg >}}/2020/02/08-blog-post-all-cropped.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/02/01/11ty-content-post/">
    [Eleventy - Content - Blog Post]</a></small></p>
  </section>

  <section data-tutor="08">
    <h4>Markdown Configuration</h4>
    <p>Be aware of stylesheet adjustment.<br/>
    <img class="plain"
         alt="Eleventy: Markdown with Stylesheet Adjustment"
         src="{{< assets-ssg >}}/2020/02/08-markdown-title-fixed.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/02/02/11ty-content-markdown/">
    [Eleventy - Content - Markdown]</a></small></p>
  </section>

  <section data-tutor="08">
    <h4>Shortcode</h4>
    <p>We can utilize shortcodes.<br/>
    <small>To provide link, or to provide image in Eleventy.</small></p>
    <img class="plain"
         alt="Eleventy: Markdown with Stylesheet Adjustment"
         src="{{< assets-ssg >}}/2020/02/08-shortcode-advert.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/02/03/11ty-content-shortcodes/">
    [Eleventy - Content - Shortcodes]</a></small></p>
  </section>

  <section data-tutor="08">
    <h4>Syntax Highlighting</h4>
    <p>Setup in Eleventy is easy<br/>
    <small>Just be aware with stylesheet conflict with CSS framework.</small></p>
    <img class="plain"
         alt="Eleventy: Syntax Highlighting"
         src="{{< assets-ssg >}}/2020/02/08-highlight-fixed.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/02/04/11ty-syntax-highlighting/">
    [Eleventy - Syntax Highlighting]</a></small></p>
  </section>

  <section data-tutor="08">
    <h4>Table of Content</h4>
    <p>Raw HTML.<br/>
    <small>Useful when you want to add service,<br/>
    or just plain html such as TOC in figure below.</small></p>
    <img class="plain"
         alt="Eleventy: Raw HTML: Table of Content"
         src="{{< assets-ssg >}}/2020/02/08-content-toc.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/02/01/11ty-content-post/">
    [Eleventy - Content - Blog Post]</a></small></p>
  </section>

  <section data-tutor="08">
    <h4>MathJax</h4>
    <p>Math Lovers won't forget about this.</p>
    <img class="plain"
         alt="Eleventy: MathJax"
         src="{{< assets-ssg >}}/2020/02/08-markdown-mathjax.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/02/02/11ty-content-markdown/">
    [Eleventy - Content - Markdown]</a></small></p>
  </section>

  <section>
    <h3>What is Next 🤔?</h3>
    <p>Deploy!<br/>
    <small>To Github or Gitlab or Bitbucket or Netlify or else.</small></p>
    <img class="plain"
         alt="CI/CD: Github Workflows: Eleventy Runner"
         src="{{< assets-ssg >}}/2020/02/08-workflows-eleventy-runner.png">
    <br/>
    <p><small><a href="{{< baseurl >}}devops/2020/02/10/ci-cd-overview/">
    [CI/CD - Deploy Overview]</a></small></p>
  </section>

  <section>
    <h3>Questions 🤔?</h3>
    <p>Don't be shy 🙋🏻‍♂️!</p>
  </section>
  <section>
    <h3>The End</h3>
    <p>🙇🏻</p>
    <p>Thank You for Your Time.</p>
  </section>
