{{ define "main" }}
  <main role="main" 
        class="column is-full">

    {{- block "yaosb" . }}
    <div class="animate__animated animate__observe"
         data-animate="bounce"
         id="sitedesc_image"></div>
    {{- end }}

    <section class="main-wrapper blue-grey">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header has-text-centered
                        blue-grey lighten-5">
          <div class="main_title"> 
            <h4 class="title is-4"
                itemprop="name headline">
              {{ .Title | default .Site.Title }}</h4>
          </div>
        </section>

        <article class="blog-body has-text-centered"
                 itemprop="articleBody">
          <div class="columns is-centered">
            <div class="column is-half-desktop">
              {{ .Content }}
            </div>
          </div>
        </article>

      </div>
    </section>

  </main>
{{ end }}
