
  <div class="main_title"> 
    <h1 class="title is-4" itemprop="name headline">
      <a href="{{ .Permalink }}"
        >{{ .Title | default .Site.Title }}</a></h1>
  </div>

  <div class="field p-t-5">
     {{ if .Params.author }}
    <div class="is-pulled-left">
    <span class="meta_author tag is-small is-dark
                 indigo z-depth-1 hoverable">
        <span class="fa fa-user"></span>
        &nbsp;
        <span itemprop="author"
              itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ .Params.author }}</span></span>            
    </span>
    &nbsp;
    </div>
    {{ end }}

    <div class="is-pulled-left">
      <span class="meta-time tag is-small is-dark
                   green z-depth-1 hoverable">
      {{ partial "post/time-elapsed.html" . }}
      </span>
      &nbsp;
    </div>

    <div class="is-pulled-right">
      {{ range .Params.tags }}
        <a href="{{ printf "tags/%s" . | absURL }}">
          <span class="tag is-dark is-small teal z-depth-1
                       hoverable hvr-pulse">
            <span class="fa fa-tag"></span>&nbsp;{{ . }}</span></a>
      {{ end }}
      &nbsp;
    </div>

    <div class="is-pulled-right">
      {{ range .Params.categories }}
        <a href="{{ printf "categories/%s" . | absURL }}">
          <span class="tag is-light is-small teal z-depth-1
                       hoverable hvr-pulse">
            <span class="fa fa-folder"></span>&nbsp;{{ . }}</span></a>
      {{ end }}
      &nbsp;
    </div>
  </div>

  <div class="is-clearfix p-b-5"></div>
