
<nav class="pagination is-centered is-small" 
     role="navigation" aria-label="pagination">

    <!-- Previous Page. -->
    {{ if .Page.Prev }}
      <a class="pagination-previous post-previous hvr-buzz"
         href="{{ .Page.Prev.Permalink | absURL }}"
         title="{{ .Page.Prev.Title }}">
        <span class="fas fa-chevron-left"></span>&nbsp;&nbsp;</a>
    {{ end }}

    {{ if .Page.Next }}
      <a class="pagination-next post-next hvr-buzz"
         href="{{ .Page.Next.Permalink | absURL }}"
         title="{{ .Page.Next.Title }}">&nbsp;&nbsp;
        <span class="fas fa-chevron-right"></span></a>
    {{ end }}
</nav>

