---
type   : presentation
title  : "Presentation - Concept SSG"
date   : 2019-02-17T09:17:35+07:00
slug   : concept-ssg
categories: [ssg]
tags      : [presentation]
keywords  : [static site, markdown, advantage, disadvantage]
author : epsi
opengraph:
  image: assets/site/images/kiddo-bulat-008.png

excerpt:
  Presentation of SSG concept.
  Introduction to static site generator.

---

  <section>
    <h3>Static Site Generator</h3>
    <p>Introduction to SSG for beginner.</p>
    <br/>
    <p><small>Click download in:
       <a href="{{< berkas2-blob >}}/impress-presentation/04-concept-ssg/presentation-concept-ssg-diagram.pdf">
        [PDF]</a>,
       <a href="{{< berkas2-blob >}}/impress-presentation/04-concept-ssg/presentation-concept-ssg-diagram.odp">
        [Impress]</a>
    </small></p>
    <p><small>All slides in:
       <a href="/ssg/2020/10/11/slides-concept-ssg/">
        [slides]</a>
    </small></p>
  </section>

  <section>
    <h3>About Me 🙋🏻‍♂️!</h3>
    <img class="plain" style="background:none;" alt="my photo"
         src="{{< baseurl >}}assets/site/images/authors/epsi-2017-bulat.png">
    <p>Yet, another underachiever 👻.</p>
    <p>But hey, I have my own blog 🎉.</p>
  </section>

  <section>
    <h3>About This Material 🤠</h3>
    <p><small>After watching this, you will understand:<br/>
      How SSG can be utilized to<br/>
      make a fully mature website<br/>
      without the burden of complicated backend.
      </small>
    </p>
    <p>🙏🏽</p>
    <p><small>This material is not really comprehensive.<br/>
    I still have so much to learn.</small></p>
  </section>

  <section>
    <h3>What is SSG🤔?</h3>
    <ul>
      <li>SSG short abbreviation:<br/>
        <small>Static Sites Generator</small></li>
      <li>Static Sites:<br/>
        <small>Just plain HTML + CSS + JS</small></li>
      <li>Static:<br/>
        <small>No dynamic server (backend)</small></li>
      <li>Generated:<br/>
        <small>Built once, on every change<br/>
        Put on server<br/>
        Serve as many request as needed.</small></li>
    </ul>
  </section>
  <section>
    <h4>What is SSG good for🤔?</h4>
    <ul>
      <li>Company Profile<br/>
        <small>or Portfolio.</small></li>
      <li>Personal Blog<br/>
        <small>Just like mine.</small></li>
      <li>Official Site<br/>
        <small>Most Linux Distro use SSG.</small></li>
      <li>Any Static Sites:<br/>
        <small>Such as CSS Tricks.</small></li>
      <li>JAM Stack:<br/>
        <small>Dynamic sites utilizing javascript.<br/>
        Modern Web Era, in contrast with LAMP stack.</small></li>
    </ul>
  </section>
  <section>
    <h4>What case is not🤔?</h4>
    <ul>
      <li>Non tech savvy end user<br/>
        <small>should use blogger, or wordpress instead</small></li>
      <li>Startup<br/>
        <small>With a lot of infrastructure</small></li>
      <li>Dynamic website<br/>
        <small>Anything that require login</small></li>
      <li>Walk your dog, or feed your cat<br/>
        <small>You still have to do it yourself.</small></li>
    </ul>
  </section>
  <!--
  <section>
    <h4>Can I use my smartphone🤔?</h4>
    <p>Yes you can.<br>
      <small>Just use smartphone for daily blog,<br/>
      terminal, and a text editor.</small></p>
    <p>But!<br>
      <small>But you still need a notebook,<br/>
      for developing code, and for designing theme.</small></p>
    <br/>
    <p><small>I would not recommend,<br/>
      but I know people who actually running SSG in smartphone.<br/>
      Poor student who cannot afford notebook,<br/>
      Or people who just want to be mobile.</small></p>
  </section>
  <section>
    <h4>Wow!</h4>
    <p>Sure!</p>
  </section>
  -->

  <section>
    <h3>Why Static Sites 🤔?</h3>
    <ul>
      <li>Markdown:<br/>
        <small>More on Writing Content</small></li>
      <li>No complex backend:<br/>
        <small>Focus on frontend: Great theme.</small></li>
      <li>Local Copy:<br/>
        <small>Own Your Own Site<br/>
        Git-able</small></li>
      <li>Cheap:<br/>
        <small>Free Hosting =💲 murah meriah</small></li>
    </ul>
  </section>
  <section>
    <h4>Tech Savvy</h4>
    <ul>
      <li>Embrace modern technology 🤠:<br/>
        <small>SPA, JAM stack, serverless, CI/CD.</small></li>
      <li>OS Agnostic (simpler ecosystem)<br/>
        <small>No racial issue, between Windows, Mac and Linux/BSD user.</small></li>
      <li>Many SSG Choice Options:<br/>
        <small>Jekyll, Hugo, Hexo, Pelican, Gatsby, 11ty.</small></li>
      <li>Easier to migrate content between generator.<br/>
        <small>After all, it is just markdown.</small></li>
      <li>Easier to port tailor made custom theme.<br/>
        <small>No scary language feature.</small></li>
      <li>Way cooler web developer:<br/>
        <small>Over traditional CMS</small></li>
    </ul>
  </section>
  <section>
    <h4>Other Technical Performance 🤠.</h4>
    <ul>
      <li>Fast:<br/>
        <small>No server side processing.</small></li>
      <li>Less Security Issue:<br/>
        <small>SQL Injection and Vulnerablities.</small></li>
      <li>Cacheable<br/>
        <small>Can be reliaby cached,
        and maybe served as CDN.</small></li>
      <li>No scaling issue.<br/>
        <small>It is all just static html and assets.</small></li>
    </ul>
  </section>
  <section>
    <h4>Which Generator 🤔?</h4>
    <ul>
      <li>Conventional (regular site):<br/>
        <small>Jekyll, Hugo, Hexo, Pelican, Eleventy.</small></li>
      <li>Modern (web app):<br/>
        <small>Gatsby, Nuxt, Next.</small></li>
    </ul>
  </section>

  <section>
    <h3>User Tasks</h3>
    <p>Only consist of this two tasks</p>
    <ol>
      <li>Design Theme and Layout</li>
      <li>Writing Content, then Deploy</li>
    </ol>
    <p><small>No complex backend setting.</small><br/>
    It means, more focus on the content.<br/>
    <small>Especially, with 3rd party theme.</small></p>
  </section>
  <section>
    <h4>Caveat 🙈!</h4>
    <p>Even with a ready to use theme,<br/>
    you still need customization to suit your needs.</p>
  </section>
  <section>
    <h4>Install</h4>
    <ul>
     <li>Some are easy to install.</li>
     <li>Some are harder for non tech-savvy.</li>
    </ul>
    <p>Depend on the choice of SSG.</p>
  </section>
  <section>
    <h4>Own Your Own Site 🤠</h4>
    <p><small>You can have it all locally.</small></p>
    <ul>
      <li>Writing content in your favorite text editor</li>
      <li>No upload image.<br/>
      <small>Edit image directly in your notebook.</small></li>
      <li>No need to dump database.</li>
    </ul>
    <p><small>In short:</small><br/>
    More control</p>
  </section>

  <section>
    <h3>Split HTML Task</h3>
    <ol>
      <li>Theme:<br/>
      <small>Structure (Layout, and Skeleton)</small></li>
      <li>Markdown Engine:<br/>
      <small>Formatting</small></li>
    </ol>
    <p><small>In short:</small><br/>
    clear division between these two tasks.</p>
  </section>
  <section>
    <h4>Theme Making 🦋</h4>
    <ul>
      <li>Template Engine:<br/>
      <small>Block and Basic Coding</small></li>
      <li>HTML Skeleton:<br/>
      <small>Layout Structure</small></li>
      <li>Stylesheet:<br/>
      <small>Presenting Nice Looks</small></li>
    </ul>
  </section>
  <section>
    <h4>Template Engine</h4>
    <p><small>liquid, ejs, nunjucks, jinja2, etc...</small></p>
    <ul>
      <li>Block Building</li>
      <li>Basic Language:<br/>
      <small>Variable, Loop, Conditional</small></li>
      <li>Static Data Files:<br/>
      <small>from yaml, or toml, or json</small></li>
      <li>Specific Feature:<br/>
      <small>Pipeline</small></li>
    </ul>
  </section>
  <section>
    <h4>Stylesheet</h4>
    <p>You might also need to understand CSS Tools 🙈:</p>
    <p><a href="/frontend/2019/02/15/concept-css/">
        [CSS Frameworks and CSS Tools]</a><br/>
      <small>Yet Another Presentation.</small></p>
  </section>
  <section>
    <h4>Main Configuration</h4>
    <p><small>Contain:</small><br/>
    Global Stuff</p>
  </section>
  <section>
    <h4>Inside a Page</h4>
    <ul>
      <li>Frontmatter:<br/>
      <small>Per-page configuration</small></li>
      <li>Content:<br/>
      <small>Markdown or HTML</small></li>
    </ul>
  </section>

  <section>
    <h4>Step by Step Examples 🤠?</h4>
    <p>Free Tutorials!</p>
    <ul>
      <li>Eleventy (11ty) Article Series:<br/>
      <small>
        <a href="/ssg/2020/01/01/11ty-bulma-md-overview/">
        Eleventy Overview (Nunjucks + Bulma MD)</a>
      </small></li>
      <li>Jekyll Article Series:<br/>
      <small>
        <a href="/ssg/2020/06/01/jekyll-overview/">
        Jekyll Overview (Liquid + No Stylesheet)</a>
      </small></li>
      <li>Hugo Article Series:<br/>
      <small>
        <a href="/ssg/2019/04/01/hugo-overview/">
        Hugo Summary (Template + Bulma)</a><br/>
        <a href="/ssg/2018/09/01/hugo-summary/">
        Hugo Summary (Template + Bootstrap)</a>
      </small></li>
      <li>Hexo Article Series:<br/>
      <small><a href="/ssg/2019/05/01/hexo-overview/">
        Hexo Overview (EJS + Bulma)</a></small></li>
      <li>Custom:<br/><small>Make your own case, and share!</small></li>
    </ul>
    <p>More examples on Repository (11ty, Jekyll, Pelican).</p>
  </section>

  <section>
    <h3>Why Markdown 🤔?</h3>
    <p>More on Writing Content 🤠!</p>
  </section>
  <section>
    <h4>Issue with HTML Content 🤕</h4>
    <ul>
      <li>Time spent on doing formatting.<br/>
      <small>Wasted time = Less creativity.</small></li>
      <li>Easily get lost of concentration in writing.<br/>
      <small>Dammit, my article is sucks!</small></li>
      <li>Reformatting:<br/>
      <small>Whenever design changes.</small></li>
      <li>Error prone.<br/>
      <small>Dad, I forget to close the tag again.</small></li>
    </ul>
    <p><small>In short:</small><br/>
    Markup focus on document formatting.</p>
  </section>
  <section>
    <h4>Markdown Content 🤠</h4>
    <p><small>Recipe:</small><br/>
    Markdown focus on document structure.</p>
    <ul>
      <li>Easier to write content.<br/>
      <small>Plain Text = Painless Text.</small></li>
      <li>HTML formatting taken care by markdown engine.<br/>
      <small>Significantly reduce formatting time while writing content.<br/>
      Consistent formatting, by not doing manually.</small></li>
      <li>Inline Code.<br/>
      <small>Parsed, auto format with nice color.</small></li>
      <li>Text editor is sufficient.<br/>
      <small>No need for sophisticated tools.</small></li>
    </ul>
  </section>
  <section>
    <h4>Markdown Engine</h4>
    <p>Implementation may vary<br/>
      <small>Each static site, have their own markdown engine.<br/>
      Be aware of slight difference.</small></p>
  </section>
  <section>
    <h4>HTML Content</h4>
    <p><small>When you need special formatting.</small></p>
    <ul>
      <li>HTML Page<br/>
      <small>Such as landing page content.</small></li>
      <li>Embedded Content in Markdown Page<br/>
      <small>Such as nice looks table of content.</small></li>
    </ul>
  </section>

  <section>
    <h4>Track Changes</h4>
    <ul>
      <li>Use Git!<br/>
      <small>Friendly neighbourhood backup platform.</small></li>
      <li>No weird file naming.<br/>
      <small><pre>my-revision-content.rev1.final.revagain.txt</pre></small></li>
      <li>Time travelling is possible.<br/>
      <small>OMG. I deleted my great idea last month!</small></li>
      <li>Multiple branch while making themes enhancement<br/>
      <small>branch: Master, development, bootstrapv4, bulma</small></li>
    </ul>
  </section>
  <section>
    <h4>Deploying Choices</h4>
    <ul>
      <li>Simple setup for CI/CD</li>
      <li>Repository and Host:<br/>
      <small>Gitlab, Github, Bitbucket</small></li>
      <li>CI/CD:<br/>
      <small>Travis, Circle-CI, Pipelines, Gitlab-CI</small></li>
      <li>Host and CI/CD:<br/>
      <small>Netlify, Zeit Now, Firebase</small></li>
    </ul>
  </section>
  <section>
    <h4>Deploy</h4>
    <p>Configuration Examples<br/>
      <small>
        <a href="/devops/2020/02/10/ci-cd-overview/">
        CI/CD - Deploy Overview</a>
      </small></p>
    <ul>
      <li>Netlify, Zeit Now (Vercel)</li>
      <li>Manual Git: Refspec, Worktree</li>
      <li>Travis+Github</li>
      <li>CircleCI: Github, Bitbucket</li>
      <li>Github Workflows (Actions)</li>
    </ul>
    <p>Both github.io, and gitlab.io,<br/>
    can directly utilize any SSG.</p>
  </section>
  <section>
    <h4>Issue with Static Site 🙈</h4>
    <ul>
      <li>No commenting system:<br/>
      <small>Except embedded.</small></li>
      <li>No internal search.</li>
      <li>Local build time,<br/>
      <small>For site with many article,<br/>
      Or theme design with poor logic.</small></li>
    </ul>
  </section>

  <section>
    <h4>Step by Step Examples 🤠?</h4>
    <ul>
      <li>Hugo Repository:<br/>
      <small>
        <a href="https://gitlab.com/epsi-rns/tutor-hugo-bulma-md">
        Hugo + Template + Bulma MD</a><br/>
        <a href="https://gitlab.com/epsi-rns/tutor-hugo-bootstrap">
        Hugo + Template + Bootstrap</a>
      </small></li>
      <li>Jekyll Repository:<br/>
      <small><a href="https://gitlab.com/epsi-rns/tutor-jekyll-bulma-md">
        Jekyll + Liquid + Bulma MD</a></small></li>
      <li>Pelican Repository:<br/>
      <small><a href="https://gitlab.com/epsi-rns/tutor-pelican-bulma-md">
        Pelican + Jinja2 + Bulma MD</a></small></li>
      <li>Eleventy Repository:<br/>
      <small>
        <a href="https://gitlab.com/epsi-rns/tutor-11ty-materialize">
        11ty + Nunjucks + Materialize</a><br/>
        <a href="https://gitlab.com/epsi-rns/tutor-11ty-bulma-md">
        11ty + Nunjucks + Bulma MD</a>
      </small></li>
      <li>Hexo Repository:<br/>
      <small><a href="https://gitlab.com/epsi-rns/tutor-hexo-bulma">
        Hexo + EJS + Bulma</a></small></li>
    </ul>
  </section>
  <section>
    <h4>In Need of a Technical Material 🤠?</h4>
    <p><small>Yet Another Presentation.</small></p>
    <ul>
      <li><a href="/ssg/2020/02/07/11ty-presentation/">
        [Building Site with Eleventy]</a>
      </li>
      <li><a href="/ssg/2020/08/21/jekyll-presentation/">
        [Building Site with Jekyll]</a>
      </li>
      <li><a href="/ssg/2019/05/30/hexo-presentation/">
        [Building Site with Hexo]</a>        
      </li>
    </ul>
  </section>

  <section>
    <h3>Summary 🤔?</h3>
    <p>Along with local communities 🤠.</p>
    <ul>
      <li>Static Site Generator:<br/>
        <small>
          <a href="https://t.me/jekyll_id">Jekyll</a>,
          Pelican,
          <a href="https://t.me/id_11ty">Eleventy (11ty)</a>,
          <a href="https://t.me/gohugoid">Hugo</a>,
          <a href="https://t.me/hexo_id">Hexo</a>,
          <a href="https://t.me/gatsbyjsid">Gatsby</a>.
        </small></li>
      <li>Text:<br/>
        <small>
          Markdown,
          reStructured Text.
        </small></li>
      <li>Template Engine:<br/>
        <small>
          Nunjucks, Jinja2, EJS, Liquid, Template,<br/>
          Local Community:
          <a href="https://t.me/JAMstackID/">JAMstackID</a>
        </small></li>
      <li>Deploy:<br/>
        <small>
          CVS: Git, Mercurial: <a href="https://t.me/freekelasgithub/">freekelasgithub</a>,<br/>
          Repository: Gitlab, Github, Bitbucket,<br/>
          CI/CD: Travis, Circle-CI, Pipelines: <a href="https://t.me/IDDEvOps/">IDDevOps</a>,<br/>
          Static Host: Netlify, Render, Zeit Now.<br/>
        </small></li>
    </ul>
  </section>

  <section>
    <h4>Summary</h4>
    <p>Looking for the right tools?<br/>
      <small>A real world example require complete stack.</small></p>
    <img class="plain" style="background:none;" alt="Practical Blog Development Cycle"
         src="{{< baseurl >}}assets-frontend/2020/03/blog-development-cycle-with-text-transparent.png">
    <p><a href="/frontend/2020/03/21/practical-blog-cycle/">
      [Practical Blog Development Cycle]</a><br/>
      <small>Learning The Hard Way.</small>
    </p>
  </section>

  <section>
    <h4>What is Next 🤔?</h4>
    <p>Leverage to JAM stack!</p>
    <p><small><a href="https://www.staticgen.com/">staticgen.com</a></small></p>
    <p><small><a href="https://t.me/JAMstackID">@JAMstackID</a></small></p>
  </section>
  <section>
    <h3>Questions 🤔?</h3>
    <p>Don't be shy 🙋🏻‍♂️!</p>
  </section>
  <section>
    <h3>The End</h3>
    <p>🙇🏻</p>
    <p>Thank You for Your Time.</p>        
  </section>

