{{/*
  Bootstrap core JavaScript
  ==================================================
  Placed at the end of the document so the pages load faster 
*/}}
  <script src="{{ "assets/vendors/js/jquery.min.js" | relURL }}"></script>
  <script src="{{ "assets/vendors/bootstrap/js/bootstrap.min.js" | relURL }}"></script>
  <script src="{{ "assets/vendors/js/popper.min.js" | relURL }}"></script>
 
  {{ partial "site/mathjax.html" . }}

