{{ define "main" }}
    <main role="main" class="container-fluid maxwidth">
      <section class="jumbotron text-center">
        <div class="container-fluid">
          <h1 class="jumbotron-heading">
            {{ .Title | default .Site.Title }}</h1>

          <div class="main-content">
            {{ .Content }}
          </div>
        </div>
      </section>

    </main>
{{ end }}

{{ define "yaosb" }}
<!-- no yaosb site image -->
{{ end }}
