{{ $color := "green" }}

<section class="aside-wrapper {{ $color }}
                animate__animated animate__observe"
         data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Affiliates</strong>
      <span class="fas fa-fingerprint is-pulled-right"></span>
    </div>
    
    <div class="widget-body responsive-img">
      <ul class="widget-list">
        <li><a href="http://epsi-rns.github.io/"
              class="hvr-underline-from-left"
              >Linux/BSD Desktop Customization</a></li>
        <li><a href="http://epsi-rns.gitlab.io/"
              class="hvr-underline-from-left"
              >Mobile/Web Development Blog</a></li>
        <li><a href="http://oto-spies.info/"
              class="hvr-underline-from-left"
              >Car Painting and Body Repair.</a></li>
        <li><a href="https://akutidaktahu.netlify.com/"
              class="hvr-underline-from-left"
              >Hexo: Usaha Kecil Menengah</a></li>
        <li><a href="https://eleventy-step.netlify.com/"
              class="hvr-underline-from-left"
              >Eleventy: Step by Step Demo</a></li>
        <li><a href="https://gitlab.com/epsi-rns/tutor-jekyll-bulma-md"
              class="hvr-underline-from-left"
              >Jekyll: Bulma Material Design</a></li>
      </ul>
    </div>

  </div>
</section>
