{{ $color := "pink" }}

<section class="aside-wrapper {{ $color }}
                animate__animated animate__observe"
         data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Functional/Data Science</strong>
      <span class="fas fa-fingerprint is-pulled-right"></span>
    </div>
    
    <div class="widget-body responsive-img">
      <ul class="widget-list">
        {{ range first 5 (shuffle .Site.Data.archives_bitbucket) }}
        <li><a href="http://epsi.bitbucket.io/{{ .url }}"
               class="hvr-underline-from-left"
              >{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>

  </div>
</section>
