{{ $color := "green" }}

<section class="aside-wrapper {{ $color }}
                animate__animated animate__observe"
         data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Archives</strong>
      <span class="fa fa-archive is-pulled-right"></span>
    </div>
    
    <div class="widget-body responsive-img">
      {{ $posts := where .Site.Pages "Type" "post" }}
      {{ $page_year   := .Page.Date.Format "2006" }}
      {{ $page_month  := .Page.Date.Format "January" }}
    
      {{ range ($posts.GroupByDate "2006") }}  
        {{ $year := .Key }}
          <div class ="archive-year p-t-5" id="{{ $year }}">
            <a href="{{ "pages/archives" | absURL }}#{{ $year }}"
               class="hvr-underline-from-left">
            {{ $year }}</a>
          </div>

        {{ if eq $year $page_year }}
          <ul class="widget-archive m-t-0">
          {{ range (.Pages.GroupByDate "January") }}
          {{ $month := .Key }}
          <li class="list-month">

            <span id="{{ $year }}-{{ $month }}"
                  class="hvr-underline-from-left">
                  <a href="{{ "pages/archives" | absURL }}#{{ $year }}-{{ $month }}">
                  {{ $month }}</a> - {{ $year }}</span>

            {{ if eq $month $page_month }}
              <ul class="widget-list">
              {{ range $post_month := .Pages }}

              <li>
                <a href="{{ $post_month.Permalink | absURL }}"
                   class="hvr-underline-from-left">
                  {{ $post_month.Title }}
                </a>
              </li>
              {{ end }}
              </ul>
            {{ end }}

          </li>
          {{ end }}
          </ul>
        {{ end }}

      {{ end }}
    </div>

  </div>
</section>
