{{ $color := "grey" }}

<section class="aside-wrapper {{ $color }}
                animate__animated animate__observe"
         data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Upcoming Event</strong>
      <span class="fas fa-user-group is-pulled-right"></span>
    </div>
    
    <div class="widget-body responsive-img">
      <div class="center-align">
        <a href="https://ilc.opensuse.id/">
          <img src="{{ "assets/site/images/event/ilc-poster.png" | absURL }}"
               alt="Indonesia Linux Conference"></a>
      </div>
    </div>
  </div>
</section>
