{{ $color := "purple" }}

<section class="aside-wrapper {{ $color }}
                animate__animated animate__observe"
         data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Isle of Friends</strong>
      <span class="fas fa-child is-pulled-right"></span>
    </div>
    
    <div class="widget-body responsive-img">
      <ul class="widget-list">
        {{ range first 5 (shuffle .Site.Data.friends) }}
        <li><a href="{{ .url }}"
               class="hvr-underline-from-left"
             >{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>

  </div>
</section>
