{{ $color  := "grey" }}
{{ $picnum := index (seq 5 | shuffle | first 1) 0 }}
{{ $picurl := printf "images/guest-house/0%d.webp" $picnum }}

<section class="aside-wrapper {{ $color }}
                animate__animated animate__observe"
         data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Stay in Yogyakarta</strong>
      <span class="fas fa-bed is-pulled-right"></span>
    </div>
    
    <div class="widget-body responsive-img">
      <div class="center-align">
        <a href="https://www.airbnb.com/rooms/23774095">
          <img src="{{ $picurl | absURL }}"
               alt="The Purwanggan 8 Guest House"></a>
      </div>
    </div>

  </div>
</section>

