{{ $color := "grey" }}

<section class="aside-wrapper {{ $color }}
                animate__animated animate__observe"
         data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Car Painting and Body Repair</strong>
      <span class="fas fa-car-side is-pulled-right"></span>
    </div>
    
    <div class="widget-body responsive-img">
      <div class="center-align">
        <a href="http://oto-spies.info/">
          <img src="{{ "images/adverts/oto-spies-01.png" | absURL }}"
               alt="Oto Spies"></a>
      </div>
    </div>

  </div>
</section>
