+++
title = "Web Development Blog"
description = "Hello Open Source World"

[opengraph]
  image = "assets/site/images/authors/epsi-vexel.png"
+++

  <p>
    <a class="button is-dark hvr-buzz
       blue-grey darken-2 hoverable m-b-5"
       href="{{< baseurl >}}ssg/2020/10/11/slides-concept-ssg/">
        <span class="is-hidden-mobile">Introduction to&nbsp;</span>
        SSG Concept
      </a>
    <a class="button is-dark hvr-buzz
       blue-grey darken-1 hoverable m-b-5"
       href="{{< baseurl >}}frontend/2020/10/11/slides-concept-css/">
        CSS<span class="is-hidden-tablet">&nbsp;Concept</span>
        <span class="is-hidden-mobile">&nbsp;Frameworks and Tools</span>
      </a>
  </p>

  <p>
    My name is <a href="{{< baseurl >}}pages/about/">Epsi</a>.
    I'm an open source enthusiast.
    This site is mainly discuss about web development,
    frontend, backend, and especially
    SSG (static site generator),
    And sometimes other interesting issue as well,
    such as coding and design.</p>

  <div class="justify-content-center">
  <img src="{{< baseurl >}}assets/site/images/authors/epsi-jazzy.png"
     class="bio-photo animate__animated animate__observe"
     data-animate="zoomIn"
       alt="epsi bio photo"></a>
  </div>
  <br/>

  <p>
    There are so many things to say.<br/>
    I don't want to live in regrets.<br/>
    So I make this blog.</p>

  <p>
    <a class="button is-dark hvr-buzz
    blue-grey darken-2 hoverable m-b-5"
       href="{{< baseurl >}}pages/archives"
      ><span class="is-hidden-mobile">&nbsp;Articles Sorted&nbsp;</span>
        by Month</a>
    <a class="button is-dark hvr-buzz
    blue-grey darken-1 hoverable m-b-5"
       href="{{< baseurl >}}tags"
      ><span class="is-hidden-mobile">&nbsp;Articles Sorted&nbsp;</span>
        by Tag</a>
  </p>

  <p>
    I currently have not write any great stuff yet.
    Most of all are just guidance for dummies.
    All we need before stepping into intermediate topics.
    After writing about four hundreds of
    <i>mediocre material for mere mortal</i>,
    I became <strong>mediocre specialist</strong>.
    Have fun reading my blog!</p>

  <div class="justify-content-center">
    <img src="{{< assets-frontend >}}/2016/06/illustration-css-html-light.png"
       class="hvr-bounce-out"
         alt="HTML and CSS, for Dummies">
  </div>

  <hr/>
  <p>
    My Other Blogs:</p>

  <p>
    <a class="button is-dark hvr-buzz
       blue-grey darken-2 hoverable m-b-5"
       href="http://epsi-rns.github.io/">
        <span class="is-hidden-mobile">Linux/BSD:&nbsp;</span>
        Desktop Customization
      </a>
    <a class="button is-dark hvr-buzz
       blue-grey darken-1 hoverable m-b-5"
       href="https://akutidaktahu.netlify.app/">
        Koplo
        <span class="is-hidden-mobile">&nbsp;dan Perbucinan</span>
      </a>
    <a class="button is-dark
       blue-grey darken-2 hoverable m-b-5 hvr-buzz"
       href="http://epsi.bitbucket.io/">
        Functional Programming
        <span class="is-hidden-mobile">&nbsp;and Data Science</span>
      </a>
  </p>
