{{ $color := .Color }}
{{ $posts := .Posts }}

  {{ range ($posts.GroupByDate "2006") }}
    {{ $year := .Key }}
    
    <div class ="anchor-target archive-year" 
         id="{{ $year }}">
       {{- if eq .Key (now.Format "2006") -}}
         <strong>This year's posts ({{ $year }})</strong>
       {{- else -}}
         <strong>{{ .Key }}</strong>
       {{- end -}}
     </div>


    <div class="columns is-multiline p-y-5" id="archive">
      {{ range (.Pages.GroupByDate "January") }}
      {{ $month := .Key }}
      <section class="column is-full-mobile
                      is-half-tablet is-one-third-widescreen">

        <div class="widget white z-depth-1 hoverable
                    animate__animated animate__observe"
             data-animate="pulse">

          <div class="widget-header {{ $color }} lighten-4">
            <div class ="archive-month" 
                 id="{{ $year }}-{{ $month }}">
                 {{ $month }} - {{ $year }}</div>
          </div>
    
          <div class="widget-body responsive-img">
            <div class="archive-list">
              {{ range .Pages }}
                {{ $dict := (dict "Page" .Page "Date" .Date "Title" .Title "Permalink" .Permalink) }}
                {{ partial "index/each-post.html" $dict }}
              {{ end }}
            </div>
          </div>

        </div>

      </section>
      {{ end }}
    </div>
  {{ end }}


