
  <div class="archive-item meta-item">
    <div class="meta_link has-text-right">
      <time class="meta_time is-pulled-right"
            datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "02 Jan" }}&nbsp;
        &nbsp;<span class="fa fa-calendar"></span></time></div>
    <div class="is-pulled-left">
    <a href="{{ .Permalink }}"
       class="hvr-underline-from-left">
      {{ .Page.Params.short | default .Title }}
    </a></div>
    <div class="is-clearfix"></div>
  </div>
