{{ $color := .Color }}
{{ $data  := .Data }}

<div class="columns is-multiline p-y-5" id="archive">
  {{ range $key, $value := $data.Terms }}
    {{ $posts := where $value.Pages "Type" "post" }}
    {{ $postCount := len $posts -}}

    {{ if $postCount }}
    <section class="column is-full-mobile
                    is-half-tablet is-one-third-widescreen">
      <div class="widget white z-depth-1 hoverable
                  animate__animated animate__observe"
           data-animate="pulse">

        <div class="widget-header {{ $color }} lighten-4">
          <div id="{{ $key }}" class ="anchor-target">
            {{ if eq "tag" $data.Singular }}
              <span class="fa fa-tag"></span>
            {{ else }}
              <span class="fa fa-folder"></span>
            {{ end }}

            <a href="{{ "/" | relLangURL }}{{ $data.Plural | urlize }}/{{ $key | urlize }}">
            {{ $key }}</a>
          </div>
        </div>
    
        <div class="widget-body responsive-img">
          <div class="archive-list p-y-5">
          {{ range where $value.Pages "Type" "post" }}
            {{ $dict := (dict "Page" .Page "Date" .Date "Title" .Title "Permalink" .Permalink) }}
            {{ partial "index/each-post.html" $dict }}
          {{ end }}
          </div>
        </div>

      </div>
    </section>
    {{ end }}
      
  {{- end }}
</div>
