{{ $color := .Color }}
{{ $data  := .Data }}

  <div class="field is-grouped is-grouped-multiline">
  {{ range $key, $value := $data.Terms }}
    <div class="tags has-addons">
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}

      {{ if $postCount }}
      <a href="{{ "/" | relLangURL }}{{ $data.Plural | urlize }}/{{ $key | urlize }}"
         class="hvr-buzz">
        <div class="tag is-light {{ $color }} lighten-2 z-depth-1"
          >{{ $key }}
        </div><div class="tag is-dark {{ $color }} darken-2 z-depth-1"
          >{{ $postCount }}
        </div>
      </a>
      {{ end }}
    </div>
    &nbsp;
  {{- end }}
    <div class="tags dummy"></div>
  </div>
