
  <div class ="anchor-target archive-year" 
       id="{{ .Key }}">{{ .Key }}</div>

  <div class="archive-list pl-3">
    {{ range .Pages }}
    <div class="archive-item d-flex flex-row-reverse archive-list">
      <div class="text-right text-nowrap"><time>
          {{ .Date.Format "02 Jan" }}&nbsp;
          <span class="fa fa-calendar"></span></time></div>
      <div class="mr-auto"><a href="{{ .Permalink }}">
        {{ .Title }}
      </a></div>
    </div>
    {{ end }}
  </div>
