
  {{ $owner := .Site.Data.owner }}

  <footer class="site-footer">
    <div class="navbar is-fixed-bottom maxwidth maxwidth_toggler
is-white has-text-centered is-vcentered
white z-depth-3 hoverable">
      <div class="column">
        {{/*
        <span>
{{ $owner.name }} &copy; {{ now.Year }}.
Powered by <a href="https://gohugo.io" rel="nofollow">Hugo</a>.
        </span>
        */}}

        <div class="social-icons">
{{ if $owner.telegram }}
  <a href="https://t.me/{{ $owner.telegram }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Telegram" target="_blank">
  <i class="fab fa-telegram fa-2x"></i></a>{{ end }}
{{ if $owner.twitter }}
  <a href="https://twitter.com/{{ $owner.twitter }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Twitter" target="_blank">
  <i class="fab fa-twitter fa-2x"></i></a>{{ end }}
{{ if $owner.facebook }}
  <a href="https://facebook.com/{{ $owner.facebook }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Facebook" target="_blank">
  <i class="fab fa-facebook fa-2x"></i></a>{{ end }}
{{ if $owner.googleplus }}
  <a href="https://plus.google.com/+{{ $owner.googleplus }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Google+" target="_blank">
  <i class="fab fa-google-plus fa-2x"></i></a>{{ end }}
{{ if $owner.linkedin }}
  <a href="https://linkedin.com/in/{{ $owner.linkedin }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on LinkedIn" target="_blank">
  <i class="fab fa-linkedin-square fa-2x"></i></a>{{ end }}
{{ if $owner.stackexchange }}
  <a href="{{ $owner.stackexchange }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on StackExchange" target="_blank">
  <i class="fab fa-stack-exchange fa-2x"></i></a>{{ end }}
{{ if $owner.instagram }}
  <a href="https://instagram.com/{{ $owner.instagram }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Instagram" target="_blank">
  <i class="fab fa-instagram fa-2x"></i></a>{{ end }}
{{ if $owner.flickr }}
  <a href="https://www.flickr.com/photos/{{ $owner.flickr }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Flickr" target="_blank">
  <i class="fab fa-flickr fa-2x"></i></a>{{ end }}
{{ if $owner.tumblr }}
  <a href="http://{{ $owner.tumblr }}.tumblr.com"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Tumblr" target="_blank">
  <i class="fab fa-tumblr-square fa-2x"></i></a>{{ end }}
{{ if $owner.pinterest }}
  <a href="https://www.pinterest.com/{{ $owner.pinterest }}/"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Pinterest" target="_blank">
  <i class="fab fa-pinterest fa-2x"></i></a>{{ end }}
{{ if $owner.weibo }}
  <a href="https://www.weibo.com/u/{{ $owner.weibo }}/"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Weibo" target="_blank">
  <i class="fab fa-weibo fa-2x"></i></a>{{ end }}
{{ if $owner.deviantart }}
  <a href="http://{{ $owner.deviantart }}.deviantart.com/"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on DeviantArt" target="_blank">
  <i class="fab fa-deviantart fa-2x"></i></a>{{ end }}
{{ if $owner.github }}
  <a href="https://github.com/{{ $owner.github }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Github" target="_blank">
  <i class="fab fa-github fa-2x"></i></a>{{ end }}
{{ if $owner.gitlab }}
  <a href="https://gitlab.com/{{ $owner.gitlab }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Gitlab" target="_blank">
  <i class="fab fa-gitlab fa-2x"></i></a>{{ end }}
{{ if $owner.bitbucket }}
  <a href="https://bitbucket.org/{{ $owner.bitbucket }}"
    class="hvr-bounce-in"
    title="{{ $owner.name }} on Bitbucket" target="_blank">
  <i class="fab fa-bitbucket fa-2x"></i></a>{{ end }}
        </div><!-- /.social-icons -->

      </div>
    </div>
  </footer>

