
  {{ partial "meta/html.html" . }}
  <title>{{ .Page.Title | default .Site.Title }}</title>

  {{/* Stylesheet */}}
  <link rel="stylesheet" type="text/css"
        href="{{ "css/bulma.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/animate.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/hover.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/helper.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/fontawesome.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/main.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/bezier.css" | relURL }}">

  <link rel="shortcut icon" type="image/x-icon"
        href="{{ "favicon.ico" | relURL }}" />

  <script src="{{ "js/bulma-burger-plain.js" | relURL }}"></script>
  <script src="{{ "js/animate-observer.js" | relURL }}"></script>
  <script src="{{ "js/bezier.js" | relURL }}"></script>

  {{ partial "meta/seo.html" . }}
  {{ partial "meta/opengraph.html" . }}
  {{ partial "meta/twitter.html" . }}
