<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "site/head.html" . }}
</head>

<body>
  {{ partial "service/google-analytics.html" . }}

  <div id="subtle_background"></div>
  <div id="svg_container">
    <svg xmlns="http://www.w3.org/2000/svg"
         id="svg_root" viewbox="0 0 200 500">
    </svg>
  </div>

  {{ partial "site/header.html" . }}

  <div class="columns is-8 layout-base maxwidth maxwidth_toggler">
      {{- block "main" . }}
      {{ .Content }}
      {{- end }}

      {{- block "aside" . }}{{- end }}
  </div>

  {{ partial "site/footer.html" . }}
  {{ partial "site/scripts.html" . }}
  {{ block "custom-javascript" . }}{{ end }}
</body>

</html>

