#svg_container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.box {
  stroke: gray;
  stroke-width: none;
  fill  : white;
  width : 200px;
  height: 200px;
}

.area {
  stroke: none;
  stroke-width: 0px;
  opacity: 0.05;
}

.line {
  stroke-width: 0.5px;
  fill  : transparent;
}
.line.blue  { stroke: blue; }
.line.green { stroke: green; }
.line.red   { stroke: red; }
