
  <ul class="pagination justify-content-between" 
      role="navigation" aria-labelledby="pagination-label">

      {{ if .Page.Prev }}
      <li class="page-item previous">
        <a class="page-link" 
           href="{{ .Page.Prev.Permalink }}"
           title="{{ .Page.Prev.Title }}">&laquo; </a>
      </li>
      {{ end }}

      {{ if .Page.Next }}
      <li class="page-item next">
        <a class="page-link" 
           href="{{ .Page.Next.Permalink }}"
           title="{{ .Page.Next.Title }}"> &raquo;</a>
      </li>
      {{ end }}

  </ul>
