<div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Related Articles</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>Inkscape for Daily Life.</p>
      <ul class="widget-list">
        <li><a href="{{ "/design/2022/09/01/inkscape-slide-templates-01/" | relURL }}"
              >Inkscape: Slide Templates - Overview</a></li>
        <li><a href="{{ "/design/2022/09/03/inkscape-slide-templates-02/" | relURL }}"
              >Inkscape: Slide Templates - Single</a></li>
        <li><a href="{{ "/design/2022/09/05/inkscape-slide-templates-03/" | relURL }}"
              >Inkscape: Slide Templates - Layers</a></li>
        <li><a href="{{ "/design/2022/09/07/inkscape-slide-templates-04/" | relURL }}"
              >Inkscape: Slide Templates - Pages</a></li>
        <li><a href="{{ "/design/2022/09/09/inkscape-slide-templates-05/" | relURL }}"
              >Inkscape: Slide Templates - Content</a></li>
        <li><a href="{{ "/design/2022/09/11/inkscape-slide-templates-06/" | relURL }}"
              >Inkscape: Slide Templates - Examples</a></li>
        <li><a href="{{ "/design/2022/09/13/inkscape-slide-templates-07/" | relURL }}"
              >Inkscape: Slide Templates - Showing Off</a></li>

        <li><a href="{{ "/design/2020/09/21/inkscape-impress-slides-01/" | relURL }}"
              >Inkscape: Impress Slides - Part One</a></li>
        <li><a href="{{ "/design/2020/09/22/inkscape-impress-slides-02/" | relURL }}"
              >Inkscape: Impress Slides - Part Two</a></li>
        <li><a href="{{ "/design/2020/09/23/inkscape-impress-slides-03/" | relURL }}"
              >Inkscape: Impress Slides - Part Three</a></li>
        <li><a href="{{ "/design/2020/09/24/inkscape-impress-slides-04/" | relURL }}"
              >Inkscape: Impress Slides - Part Four</a></li>
        <li><a href="{{ "/design/2020/09/25/inkscape-impress-slides-05/" | relURL }}"
              >Inkscape: Impress Slides - Part Five</a></li>
        <li><a href="{{ "/design/2020/09/26/inkscape-impress-slides-06/" | relURL }}"
              >Inkscape: Impress Slides - Part Six</a></li>

        <li><a href="{{ "/design/2020/09/27/sozi-animation-01/" | relURL }}"
              >Sozi Animation - Part One - Border Lines</a></li>
        <li><a href="{{ "/design/2020/09/28/sozi-animation-02/" | relURL }}"
              >Sozi Animation - Part Two - Titles</a></li>
        <li><a href="{{ "/design/2020/09/28/sozi-animation-03/" | relURL }}"
              >Sozi Animation - Part Three - Decorations</a></li>
      </ul>
    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Inkscape: <a href="https://t.me/gimpscape">GimpScape Indonesia</a></li>
      </ul>
    </div>
  </div>
