  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>Bootstrap5 article series.</p>
      <div class="columns">
        <div class="column is-half">
          <ul class="widget-list">
            <li><a href="{{ "/frontend/2021/06/01/bootstrap5-overview/" | relURL }}"
                  >Bootstrap 5 - Overview</a></li>
            <li><a href="{{ "/frontend/2021/06/03/bootstrap5-preparation/" | relURL }}"
                  >Bootstrap 5 - Preparation</a></li>
            <li><a href="{{ "/frontend/2021/06/05/bootstrap5-minimal/" | relURL }}"
                  >Bootstrap 5 - Minimal</a></li>

            <li><a href="{{ "/frontend/2021/06/11/bootstrap5-navbar-class/" | relURL }}"
                  >Bootstrap 5 - Navigation Bar</a></li>
            <li><a href="{{ "/frontend/2021/06/15/bootstrap5-navbar-awesome/" | relURL }}"
                  >Bootstrap 5 - Navbar - FontAwesome</a></li>
            <li><a href="{{ "/frontend/2021/06/16/bootstrap5-navbar-icons/" | relURL }}"
                  >Bootstrap 5 - Navbar - Bootstrap Icons</a></li>
            <li><a href="{{ "/frontend/2021/06/18/bootstrap5-sidebar/" | relURL }}"
                  >Bootstrap 5 - Side Bar</a></li>

            <li><a href="{{ "/frontend/2021/07/01/bootstrap5-sass-intro/" | relURL }}"
                  >Bootstrap 5 - Sass - Introduction</a></li>
            <li><a href="{{ "/frontend/2021/07/05/bootstrap5-sass-bootswatch/" | relURL }}"
                  >Bootstrap 5 - Sass - Bootswatch</a></li>
            <li><a href="{{ "/frontend/2021/07/07/bootstrap5-sass-responsive/" | relURL }}"
                  >Bootstrap 5 - Sass - Responsive</a></li>
          </ul>
        </div>
        <div class="column is-half">
          <ul class="widget-list">
            <li><a href="{{ "/frontend/2021/07/11/bootstrap5-sass-palette/" | relURL }}"
                  >Bootstrap 5 - Sass - Color Pallete</a></li>
            <li><a href="{{ "/frontend/2021/07/15/bootstrap5-sass-responsive-gap/" | relURL }}"
                  >Bootstrap 5 - Sass - Responsive Gap</a>

                  <li><a href="{{ "/frontend/2021/07/21/bootstrap5-sass-widget/" | relURL }}"
                  >Bootstrap 5 - Sass - Widget</a>
            <li><a href="{{ "/frontend/2021/07/23/bootstrap5-sass-blog-post/" | relURL }}"
                  >Bootstrap 5 - Sass - Blog Post</a>
            <li><a href="{{ "/frontend/2021/07/25/bootstrap5-javascript-toggler/" | relURL }}"
                  >Bootstrap 5 - Javascript Toggler</a>

            <li><a href="{{ "/frontend/2021/08/03/bootstrap5-javascript-numerator/" | relURL }}"
                  >Bootstrap 5 - Javascript Numerator</a>
    
            <li><a href="{{ "/frontend/2021/08/11/bootstrap5-form/" | relURL }}"
                  >Bootstrap 5 - Form</a>
            <li><a href="{{ "/frontend/2021/08/13/bootstrap5-extra/" | relURL }}"
                  >Bootstrap 5 - Tables and Chart</a>
            <li><a href="{{ "/frontend/2021/08/15/bootstrap5-dashboard/" | relURL }}"
                  >Bootstrap 5 - Dashboard</a>
          </ul>
        </div>
      </div>

      <div class="columns">
        <div class="column is-half">
          <p>Supplementary Article for Sass.</p>
          <ul class="widget-list">
            <li><a href="{{ "/frontend/2019/02/15/concept-css/" | relURL }}"
                  >Presentation - Concept CSS</a></li>
            <li><a href="{{ "/frontend/2019/01/23/windows-choco-sass/" | relURL }}"
                  >Windows - Chocolatey - Sass</a></li>
            <li><a href="{{ "/frontend/2019/01/13/sass-common-compiler/" | relURL }}"
                  >Sass - Common Implementation</a></li>
            <li><a href="{{ "/frontend/2019/03/01/bulma-overview/" | relURL }}"
                  >Bulma - Overview</a></li>
            <li><a href="{{ "/frontend/2020/03/01/bootstrap-oc-overview/" | relURL }}"
                  >Bootstrap 4 - Overview</a></li>
          </ul>
        </div>
        <div class="column is-half">
          <p>Download Tutorial Source.</p>
          <ul class="widget-list">
            <li><a href="https://gitlab.com/epsi-rns/tutor-html-bootstrap5/blob/master"
                  >Gitlab - Epsi RNS - Tutor HTML Bootstrap</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>HTML and CSS: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
      </ul>
    </div>
  </div>
