  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Related Articles</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>Inkscape Automation for Productivity.</p>
      <ul class="widget-list">
        <li><a href="{{ "/design/2021/11/01/inkscape-extension-01/" | relURL }}"
              >Inkscape Extension - Part One - Getting Started</a></li>
        <li><a href="{{ "/design/2021/11/03/inkscape-extension-02/" | relURL }}"
              >Inkscape Extension - Part Two - Query Layer</a></li>
        <li><a href="{{ "/design/2021/11/05/inkscape-extension-03/" | relURL }}"
              >Inkscape Extension - Part Three - Duplicate Layer</a></li>
        <li><a href="{{ "/design/2021/11/07/inkscape-automation-01/" | relURL }}"
              >Inkscape Certificate Automation - Part One - Preparation</a></li>
        <li><a href="{{ "/design/2021/11/09/inkscape-automation-02/" | relURL }}"
              >Inkscape Certificate Automation - Part Two - Extension</a></li>
        <li><a href="{{ "/design/2021/11/11/inkscape-automation-03/" | relURL }}"
              >Inkscape Certificate Automation - Part Three - CLI</a></li>
      </ul>
    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Inkscape: <a href="https://t.me/gimpscape">GimpScape Indonesia</a></li>
        <li>Impress: <a href="https://t.me/LibreOfficeID">LibreOffice Indonesia</a></li>
      </ul>
    </div>
  </div>
