  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Related Articles</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>SOP Template using Inkscape</p>
      <ul class="widget-list">
        <li><a href="{{ "/design/2021/01/05/inkscape-template-sop-cover/" | relURL }}"
              >Inkscape - SOP Template - Cover</a></li>
        <li><a href="{{ "/design/2021/01/07/inkscape-template-sop-diagram/" | relURL }}"
              >Inkscape - SOP Template - Example Diagram</a></li>
        <li><a href="{{ "/design/2021/01/09/inkscape-template-sop-bpml/" | relURL }}"
              >Inkscape - SOP Template - BPML</a></li>
        <li><a href="{{ "/design/2021/01/11/inkscape-template-sop-matrix/" | relURL }}"
              >Inkscape - SOP Template - Matrix Skill</a></li>
        <li><a href="{{ "/design/2021/01/13/inkscape-template-iso-elements/" | relURL }}"
              >Inkscape - ISO Template - Elements</a></li>
        <li><a href="{{ "/design/2021/01/15/inkscape-template-iso-manual/" | relURL }}"
              >Inkscape - ISO Template - Manual</a></li>
        <li><a href="{{ "/design/2021/01/16/inkscape-template-iso-flow/" | relURL }}"
              >Inkscape - ISO Template - Flow</a></li>
      </ul>
    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Inkscape: <a href="https://t.me/gimpscape">GimpScape Indonesia</a></li>
      </ul>
    </div>
  </div>
