  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <div class="columns">
        <div class="column is-half">
          <p>This article series contain few sections.</p>
          <ul class="widget-list">
            <li><a href="{{ "/frontend/2020/03/01/bootstrap-oc-overview/" | relURL }}"
                  >Bootstrap OC - Overview</a></li>
            <li><a href="{{ "/frontend/2020/03/02/bootstrap-minimal/" | relURL }}"
                  >Bootstrap - Minimal</a></li>
            <li><a href="{{ "/frontend/2020/03/03/bootstrap-navbar-class/" | relURL }}"
                  >Bootstrap - Navigation Bar - Class</a></li>
            <li><a href="{{ "/frontend/2020/03/04/bootstrap-navbar-javascript/" | relURL }}"
                  >Bootstrap - Navigation Bar - Javascript</a></li>
            <li><a href="{{ "/frontend/2020/03/05/bootstrap-navbar-icons/" | relURL }}"
                  >Bootstrap - Navigation Bar - Icons</a></li>

            <li><a href="{{ "/frontend/2020/03/07/bootstrap-sass-intro/" | relURL }}"
                  >Bootstrap - Sass - Introduction</a></li>
            <li><a href="{{ "/frontend/2020/03/08/bootstrap-sass-custom-class/" | relURL }}"
                  >Bootstrap - Sass - Custom Class</a></li>
            <li><a href="{{ "/frontend/2020/03/09/bootstrap-sass-bootswatch/" | relURL }}"
                  >Bootstrap - Sass - Bootswatch</a></li>
            <li><a href="{{ "/frontend/2020/03/10/bootstrap-sass-responsive/" | relURL }}"
                  >Bootstrap - Sass - Responsive</a></li>

            <li><a href="{{ "/frontend/2020/03/11/bootstrap-oc-sass-open-color/" | relURL }}"
                  >Bootstrap OC - Sass - Open Color</a></li>
            <li><a href="{{ "/frontend/2020/03/12/bootstrap-oc-sass-responsive/" | relURL }}"
                  >Bootstrap OC - Sass - Responsive</a>
            <li><a href="{{ "/frontend/2020/03/13/bootstrap-oc-sass-widget/" | relURL }}"
                  >Bootstrap OC - Sass - Widget</a>
            <li><a href="{{ "/frontend/2020/03/15/bootstrap-oc-sass-blog-post/" | relURL }}"
                  >Bootstrap OC - Sass - Blog Post</a>

            <li><a href="{{ "/frontend/2020/03/16/bootstrap-oc-javascript-toggler/" | relURL }}"
                  >Bootstrap OC - Javascript Toggler</a>
          </ul>
        </div>
        <div class="column is-half">
          <p>Supplementary Article for Sass.</p>
          <ul class="widget-list">
            <li><a href="{{ "/frontend/2019/02/15/concept-css/" | relURL }}"
                  >Presentation - Concept CSS</a></li>
            <li><a href="{{ "/frontend/2019/01/23/windows-choco-sass/" | relURL }}"
                  >Windows - Chocolatey - Sass</a></li>
            <li><a href="{{ "/frontend/2019/01/13/sass-common-compiler/" | relURL }}"
                  >Sass - Common Implementation</a></li>
            <li><a href="{{ "/frontend/2019/03/01/bulma-overview/" | relURL }}"
                  >Bulma - Overview</a></li>
            </ul>

            <p>Download Tutorial Source.</p>
            <ul class="widget-list">
            <li><a href="https://gitlab.com/epsi-rns/tutor-html-bootstrap-oc/blob/master"
                  >Gitlab - Epsi RNS - Tutor HTML Bootstrap</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>HTML and CSS: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
      </ul>
    </div>
  </div>
