  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Related Articles</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

    <div class="columns">

      <div class="column is-half">
      <p>SVG Bezier Path Animation</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2022/01/11/bezier-svg-01/" | relURL }}"
              >Bezier SVG - Introduction</a></li>
        <li><a href="{{ "/frontend/2022/01/13/bezier-svg-02/" | relURL }}"
              >Bezier SVG - MDN Path - Cubic</a></li>
        <li><a href="{{ "/frontend/2022/01/15/bezier-svg-03/" | relURL }}"
              >Bezier SVG - MDN Path - Quadratic</a></li>
        <li><a href="{{ "/frontend/2022/01/17/bezier-svg-04/" | relURL }}"
              >Bezier SVG - Generating Single DOM</a></li>
        <li><a href="{{ "/frontend/2022/01/19/bezier-svg-05/" | relURL }}"
              >Bezier SVG - Generating Multiple DOM</a></li>
        <li><a href="{{ "/frontend/2022/01/21/bezier-svg-06/" | relURL }}"
              >Bezier SVG - Javascript Animation</a></li>
        <li><a href="{{ "/frontend/2022/01/25/bezier-svg-07/" | relURL }}"
              >Bezier SVG - Keyframes Animation</a></li>
      </ul>
      </div>

      <div class="column is-half">
      <p>Animation Observer</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2022/02/01/animation-observer-01/" | relURL }}"
              >Animation Observer - Part One</a></li>
        <li><a href="{{ "/frontend/2022/02/03/animation-observer-02/" | relURL }}"
              >Animation Observer - Part Two</a></li>
        <li><a href="{{ "/frontend/2022/02/05/animation-observer-03/" | relURL }}"
              >Animation Observer - Part Three</a></li>
      </ul>
      </div>

    </div>

    </div>
  </div>
