  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">
    <div class="columns">

      <div class="column is-half">
        <p>LAMP Stack</p>
        <ul class="widget-list">
          <li><a href="{{ "/backend/2021/05/01/soccer-overview/" | relURL }}"
                >Soccer - Overview</a></li>
          <li><a href="{{ "/backend/2021/05/03/soccer-fixtures/" | relURL }}"
                >Soccer - Fixtures</a></li>
          <li><a href="{{ "/backend/2021/05/05/soccer-sql-query/" | relURL }}"
                >Soccer - SQL Query</a></li>
          <li><a href="{{ "/backend/2021/05/07/soccer-sqlalchemy-01/" | relURL }}"
                >Soccer - SQL Alchemy - Part One</a></li>
          <li><a href="{{ "/backend/2021/05/09/soccer-sqlalchemy-02/" | relURL }}"
                >Soccer - SQL Alchemy - Part Two</a></li>
          <li><a href="{{ "/backend/2021/05/11/soccer-sqlalchemy-03/" | relURL }}"
                >Soccer - SQL Alchemy - Part Three</a></li>
        </ul>

      </div>

    </div>
    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>HTML and CSS: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
      </ul>
    </div>
  </div>
