  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Related Articles</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>Inkscape for Daily Life.</p>
      <ul class="widget-list">
        <li><a href="{{ "/design/2015/09/06/inkscape-vexel-face-tracing/" | relURL }}"
              >Inkscape: Vexel Face Tracing</a></li>
        <li><a href="{{ "/design/2016/10/03/inkscape-flat-isometric-wallpaper/" | relURL }}"
              >Inkscape: Flat Wallpaper with Isometric Looks</a></li>

        <li><a href="{{ "/design/2016/11/11/inkscape-logo-01-preparing-document/" | relURL }}"
              >Inkscape Logo Creation - Preparing Document</a></li>
        <li><a href="{{ "/design/2016/11/11/inkscape-logo-02-making-shape-example/" | relURL }}"
              >Inkscape Logo Creation - Making Shape Example</a></li>
        <li><a href="{{ "/design/2016/11/11/inkscape-logo-03-coloring/" | relURL }}"
              >Inkscape Logo Creation - Coloring</a></li>

        <li><a href="{{ "/design/2017/11/15/inkscape-progress-ring/" | relURL }}"
              >Inkscape: Progress Ring Animation</a></li>
      </ul>
    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Inkscape: <a href="https://t.me/gimpscape">GimpScape Indonesia</a></li>
        <li>Impress: <a href="https://t.me/LibreOfficeID">LibreOffice Indonesia</a></li>
      </ul>
    </div>
  </div>
