  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">
    <div class="columns">

      <div class="column is-half">
      <p>A simple user management showcase, step by step with help of ChatGPT.</p>
      <ul class="widget-list">
        <li><a href="{{ "/case/2023/01/11/user-man-overview/" | relURL }}"
              >User Manager - Overview</a></li>
        <li><a href="{{ "/case/2023/01/13/user-man-requirement/" | relURL }}"
              >User Manager - Requirement</a></li>
        <li><a href="{{ "/case/2023/01/15/user-man-use-case/" | relURL }}"
              >User Manager - Use Case Diagram</a></li>
        <li><a href="{{ "/case/2023/01/17/user-man-class/" | relURL }}"
              >User Manager - Class Diagram</a></li>
        <li><a href="{{ "/case/2023/01/19/user-man-sequence/" | relURL }}"
              >User Manager - Sequence Diagram</a></li>
        <li><a href="{{ "/case/2023/01/21/user-man-test" | relURL }}"
              >User Manager - Testing Artefact</a></li>
        <li><a href="{{ "/case/2023/01/23/user-man-deploy" | relURL }}"
              >User Manager - Deployment Artefact</a></li>
        <li><a href="{{ "/case/2023/01/25/user-man-sql" | relURL }}"
              >User Manager - Initial SQL</a></li>
        <li><a href="{{ "/case/2023/01/27/user-man-sql" | relURL }}"
              >User Manager - Apply SQL</a></li>
      </ul>
      </div>

    </div>
    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>HTML and CSS: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
      </ul>
    </div>
  </div>
