  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Article Series</strong>
      <span class="fa fa-cat is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

    <div class="columns">

      <div class="column is-half">
      <p>Bulma</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2019/03/01/bulma-overview/" | relURL }}"
              >Bulma - Overview</a></li>
        <li><a href="{{ "/frontend/2019/03/02/bulma-minimal/" | relURL }}"
              >Bulma - Minimal</a></li>
        <li><a href="{{ "/frontend/2019/03/03/bulma-navbar/" | relURL }}"
              >Bulma - Navigation Bar</a></li>
        <li><a href="{{ "/frontend/2019/03/04/bulma-sass-intro/" | relURL }}"
              >Bulma SASS - Introduction</a></li>
        <li><a href="{{ "/frontend/2019/03/05/bulma-sass-theme/" | relURL }}"
              >Bulma SASS - Inside a Theme</a></li>
        <li><a href="{{ "/frontend/2019/03/06/bulma-sass-custom/" | relURL }}"
              >Bulma SASS - Custom Class</a></li>
        <li><a href="{{ "/frontend/2019/03/07/bulma-sass-layout/" | relURL }}"
              >Bulma SASS - Responsive Layout</a></li>
        <li><a href="{{ "/frontend/2019/03/08/bulma-sass-panels/" | relURL }}"
              >Bulma SASS - Panels</a></li>
        <li><a href="{{ "/frontend/2019/03/09/bulma-sass-post/" | relURL }}"
              >Bulma SASS - Blog Post</a></li>
        <li><a href="{{ "/frontend/2019/03/10/bulma-sass-helpers/" | relURL }}"
              >Bulma SASS - Helpers</a></li>
      </ul>
      </div>

      <div class="column is-half">
      <p>Bulma Material Design</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2019/06/11/bulma-md-overview/" | relURL }}"
              >Bulma MD - Overview</a></li>
        <li><a href="{{ "/frontend/2019/06/12/bulma-md-helper/" | relURL }}"
              >Bulma MD - Helper</a></li>
        <li><a href="{{ "/frontend/2019/06/13/bulma-md-widget/" | relURL }}"
              >Bulma MD - Widget</a></li>
        <li><a href="{{ "/frontend/2019/06/14/bulma-md-blog-post/" | relURL }}"
              >Bulma MD - Blog Post</a></li>
        <li><a href="{{ "/frontend/2019/06/15/bulma-md-javascript-toggler/" | relURL }}"
              >Bulma MD - Javascript - Toggler</a></li>
      </ul>

      <p>Animation Observer</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2022/02/01/animation-observer-01/" | relURL }}"
              >Animation Observer - Part One</a></li>
        <li><a href="{{ "/frontend/2022/02/03/animation-observer-02/" | relURL }}"
              >Animation Observer - Part Two</a></li>
        <li><a href="{{ "/frontend/2022/02/05/animation-observer-03/" | relURL }}"
              >Animation Observer - Part Three</a></li>
      </ul>
      </div>

    </div>

    <div class="columns">

      <div class="column is-half">
      <p>Supplementary Article for Sass.</p>
      <ul class="widget-list">
        <li><a href="{{ "/frontend/2019/02/15/concept-css/" | relURL }}"
              >Presentation - Concept CSS</a></li>
        <li><a href="{{ "/frontend/2019/01/23/windows-choco-sass/" | relURL }}"
              >Windows - Chocolatey - Sass</a></li>
        <li><a href="{{ "/frontend/2019/01/13/sass-common-compiler/" | relURL }}"
              >Sass - Common Implementation</a></li>
        <li><a href="{{ "/frontend/2020/03/01/bootstrap-oc-overview/" | relURL }}"
              >Bootstrap OC - Overview</a></li>
      </ul>
      </div>

      <div class="column is-half">
      <p>Download Tutorial Source.</p>
      <ul class="widget-list">
        <li><a href="https://gitlab.com/epsi-rns/tutor-html-bulma/blob/master"
              >Gitlab - Epsi RNS - Tutor HTML Bulma</a></li>
        <li><a href="https://gitlab.com/epsi-rns/tutor-html-bulma-md/blob/master"
              >Gitlab - Epsi RNS - Tutor HTML Bulma MD</a></li>
      </ul>
      </div>

    </div>

    </div>
  </div>


  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header teal lighten-4">

      <strong>Where to Discuss?</strong>
      <span class="fab fa-telegram is-pulled-right"></span>

    </div>
    <div class="widget-body teal lighten-5">
      <p>Local Group</p>
      <ul class="widget-list">
        <li>Bulma: <a href="https://t.me/bulma_id">Bulma Indonesia</a></li>
        <li>CSS Tools: <a href="https://t.me/html_css_id">HTML CSS Indonesia</a></li>
      </ul>
    </div>
  </div>
