---
type   : presentation
title  : "Jekyll - Presentation Slide"
date   : 2020-08-21T09:17:35+07:00
slug   : jekyll-presentation
categories: [ssg]
tags      : [jekyll, bulma, bootstrap]
keywords  : [presentation, static site, markdown, advantage, disadvantage]
author : epsi
opengraph:
  image: assets/site/images/kiddo-bulat-008.png

excerpt:
  Presentation of SSG concept.
  Introduction to Jekyll static site generator.
---

  <section>
    <h3>Jekyll Static Generator</h3>
    <p>Building Site with Jekyll.</p>
    <br>
    <p><small>This media can also be read in: 
      <a href="{{< baseurl >}}ssg/2020/08/20/jekyll-summary/">
      [Jekyll - Summary]</a> article</small>
    </p>
  </section>

  <section>
    <h3>About Me 🙋🏻‍♂️!</h3>
    <img class="plain" style="background:none;" alt="my photo"
         src="{{< baseurl >}}assets/site/images/authors/epsi-2017-bulat.png">
    <p>Yet, another underachiever 👻.</p>
    <p>But hey, I have my own blog 🎉.</p>
  </section>

  <section>
    <h3>Table of Content 🤔?</h3>
    <ul>
      <li>Jekyll in General.</li>
      <li>Jekyll Plain.<br/>
        <small>Layout, Content, Managing Code, Feature: Pagination, Plugin, Theme.</small></li>
      <li>Jekyll + Bootstrap:<br/>
        <small>CSS, SASS, Layout, Widget, Pagination, Blog Post, Content.</small></li>
      <li>Jekyll + Bulma:<br/>
        <small>CSS, SASS, Layout, Widget, Pagination, Blog Post, Content.</small></li>
      <li>Summary.</li>
    </ul>
  </section>

  <section>
    <h3>1: Jekyll in General 🤠</h3>
    <ul>
      <li>Foreword</li>
      <li>Install</li>
      <li>Deploy</li>
    </ul>
  </section>

  <section>
    <h4>Why Jekyll 🤔?</h4>
    <p>This is just an example project.
    Most you can do with one SSG can be done with other SSG as well.</p>
    <p>You are free to use your SSG choice:<br/>
    <small>Jekyl, Hugo, Eleventy, 11ty, Pelican, Gatsby</small></p>
    <p><small>Read this concept first:
    <a href="{{< baseurl >}}/ssg/2019/02/17/concept-ssg/">
    [Presentation - Concept SSG]</a></small></p>
  </section>

  <section>
    <h4>Any Expectation 🤔?</h4>
    <ul>
      <li>Case can be applied somewhere else.<br/>
        <small>Most stuff applied in other SSG.<br/>
        Just don't be a fanatic.</small></li>
      <li>An example case for beginner.<br/>
        <small>Just another humble example.</small></li>
      <li>Starting point for a serious writer.<br/>
        <small>After all, making a blog site is easy and fun.</small></li>
    </ul>
  </section>

  <section>
    <h4>Step of Making Theme 🤔?</h4>
    <ul>
      <li>Start From the Layout:<br/>
        <small>Preparing layout with templating engine.</small></li>
      <li>Custom Pages:<br/>
        <small>Liquid loop for custom pages and layout.</small></li>
      <li>Adding Stylesheet:<br/>
        <small>Give wearable clothes to above loop, for nice looks.</small></li>
      <li>Additional Feature:<br/>
        <small>Such as static data, widget and pagination.</small></li>
      <li>Page Content:<br/>
        <small>Meta SEO, TOC, markdown, shortcode,<br/>
        syntax highlighting, stylesheet adjustment, MathJax.</small></li>
      <!--li>Deploy</li-->
    </ul>
  </section>

  <section>
    <h4>Theming Skill 🤔?</h4>
    <p>Adjustment is a reccuring issue that arise regularly.</p>
    <p><small>Even when you are using a ready to use theme,<br/>
    you might still need customization to suit your needs.</small></p>    
  </section>

  <section>
    <h4>Install Jekyll 🤔?</h4>
    <ul>
      <li>Default Package from distro:<br/>
        <small>Easy for beginner.</small></li>
      <li>Bundle:<br/>
        <small>Bundle can handle multiple Jekyll installment.</small></li>
      <li>RVM:<br/>
        <small>RVM can handle multiple Ruby installment.</small></li>
    </ul>
    <img class="plain" alt="Jekyll Install: Bundle: Gemfile"
         src="{{< assets-ssg >}}/2020/06/intro/00-bundle-gemfile.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/02/jekyll-install-rvm/">
    [Jekyll - Install using RVM]</a></small></p>
  </section>

  <section>
    <h4>Simple Deployment 🤔?</h4>
    <p>Github pages is easy for beginner.</p>
    <ul>
      <li>Git skill is a must.</li>
      <li>Multiple configuration:<br/>
        <small>Such as using _config_dev.yml</small></li>
    </ul>
    <br/>
    <img class="plain" alt="Jekyll Deploy: Github Pages Served"
         src="{{< assets-ssg >}}/2020/06/intro/10-github-pages-served.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/06/25/jekyll-deploy-simple/">
    [Jekyll - Deploy - Simple]</a></small></p>
  </section>

  <section>
    <h4>CI/CD Deployment 🤔?</h4>
    <p>Flexible for intermediate user:</p>
    <ul>
      <li>Github Actions</li>
      <li>Gitlab CI</li>
      <li>Netlify</li>
      <li>Vercel (Zeit Now)</li>
      <li>Travis</li>
      <li>CircleCI</li>
      <li>Manual</li>
    </ul>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/26/jekyll-deploy-ci-cd/">
    [Jekyll - Deploy - CI/CD]</a></small></p>
  </section>

  <section>
    <h4>CI/CD Deployment 🤔?</h4>
    <p>CircleCI Case Example:</p>
    <img class="plain" alt="Jekyll Deploy: CircleCI Steps Skeleton"
         src="{{< baseurl >}}assets/posts/devops/2020/02/circleci/06-circleci-22-jekyll-worktree.png">
  </section>

  <section>
    <h3>2: Jekyll Layout 🤠</h3>
    <ul>
      <li data-tutor="01">Minimal Layout</li>
      <li data-tutor="02">Partial Layout</li>
      <li data-tutor="03">Custom Pages</li>
      <li data-tutor="03">Custom Output</li>
    </ul>
  </section>

  <section>
    <h4>Layout changes for each steps</h4>
    <img class="plain" alt="Layout changes for each steps"
         src="{{< assets-ssg >}}/2020/08/template-inheritance-animate.gif">
  </section>

  <section data-tutor="01">
    <h4>Minimal Layout</h4>
    <p>The easiest thing to do this is to make a minimal layout,
    and modified later.</p>
    <img class="plain" alt="Jekyll Layout: Minimal"
         src="{{< assets-ssg >}}/2020/06/plain/01-jekyll-nerdtree.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/04/jekyll-plain-minimal/">
    [Jekyll Plain - Minimal]</a></small></p>
  </section>

  <section data-tutor="02">
    <h4>Partial Layout</h4>
    <p>Just a bit of refactoring.</p>
    <img class="plain" alt="Jekyll Layout: Partial"
         src="{{< assets-ssg >}}/2020/06/plain/02-jekyll-nerdtree.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/05/jekyll-plain-layout/">
    [Jekyll Plain - Layout]</a></small></p>
  </section>

  <section data-tutor="02">
    <h4>Partial Layout</h4>
    <p>With a very humble result as figure below</p>
    <img class="plain" alt="Jekyll Layout: Home in Browser"
         src="{{< assets-ssg >}}/2020/06/plain/02-jekyll-home.png">
  </section>  

  <section data-tutor="03">
    <h4>Custom Pages</h4>
    <p><small>With Jekyll layout, you can add custom pages:</small><br/>
      archives, tags, categories, blog list.</p>
    <img class="plain" alt="Jekyll Layout: Custom Pages"
         src="{{< assets-ssg >}}/2020/06/plain/03-jekyll-nerdtree.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/06/jekyll-plain-custom-pages/">
    [Jekyll Plain - Custom Pages]</a></small></p>
  </section>

  <section data-tutor="03">
    <h4>Custom Output</h4>
    <p>Jekyll can generate custom output.<br/>
    <small>Without adding any plugin.<br/>
    After all this is just a static page.</small></p>
    <img class="plain"
         alt="Jekyll: Custom Output: JSON"
         src="{{< assets-ssg >}}/2020/06/plain/03-browser-json.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/07/jekyll-plain-custom-output/">
    [Jekyll Plain - Custom Output]</a></small></p>
  </section>

  <section>
    <h3>3: Jekyll Content 🤠</h3>
    <ul>
      <li data-tutor="04">Markdown</li>
      <li data-tutor="04">Shortcode</li>
      <li data-tutor="05">Custom Code: Meta SEO</li>
    </ul>
  </section>

  <section data-tutor="04">
    <h4>Markdown</h4>
    <p>Markdown is simply, just a text format.<br/>
    <img class="plain"
         alt="Jekyll Content: Markdown in ViM"
         src="{{< assets-ssg >}}/2020/06/plain/04-vim-plain.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/08/jekyll-plain-markdown/">
    [Jekyll Plain - Markdown]</a></small></p>
  </section>

  <section data-tutor="04">
    <h4>Markdown</h4>
    <p>Which will be processed to markup.</p>
    <img class="plain"
         alt="Jekyll Content: Processed Markdown in Browser"
         src="{{< assets-ssg >}}/2020/06/plain/04-browser-newline-small.png">
  </section>

  <section data-tutor="04">
    <h4>Shortcode</h4>
    <p>We can utilize shortcodes like code in Jekyll.<br/>
    <small>To provide link, or to provide image.</small></p>
    <img class="plain"
         alt="Jekyll Content: Shortcode in ViM"
         src="{{< assets-ssg >}}/2020/06/plain/04-vim-shortcode.png">
  </section>

  <section data-tutor="04">
    <h4>Shortcode</h4>
    <p>Which will also be processed to HTML.</p>
    <img class="plain"
         alt="Jekyll Content: Processed Shortcode in Browser"
         src="{{< assets-ssg >}}/2020/06/plain/04-browser-shortcode-small.png">
    <br/>
    <p>This shortcode is just an include statement.</p>
  </section>

  <section data-tutor="05">
    <h4>Custom Code: Meta SEO</h4>
    <p>Opengraph is a must nowadays.</p>
    <img class="plain"
         alt="Jekyll Meta: Telegram Desktop Opengraph"
         src="{{< baseurl >}}assets/posts/ssg/2019/05/59-tele-desktop-opengraph-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/13/jekyll-plain-meta-seo/">
    [Jekyll Plain - Meta SEO]</a></small></p>
  </section>

  <section>
    <h3>4: Managing Code 🤠</h3>
    <ul>
      <li data-tutor="04">Part One<br/>
        <small>Liquid Code Placement, Layout Enhancement.</small></li>
      <li data-tutor="04">Part Two<br/>
        <small>Category and Tag, Archive by Year, then by Month.</small></li>
      <li data-tutor="05">Part Three<br/>
        <small>Clean up pages from code, prepare theme for use in Gemfile.</small></li>
    </ul>
  </section>

  <section data-tutor="04">
    <h4>Liquid Code Placement</h4>
    <p>So far we have three places to put liquid code:</p>
    <ul>
      <li>pages as content, or</li>
      <li>_layouts, or</li>
      <li>_includes.</li>
    </ul>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/10/jekyll-plain-managing-code-one/">
    [Jekyll Plain - Managing Code - Part One]</a></small></p>
  </section>

  <section data-tutor="04">
    <h4>Liquid Code Placement</h4>
    <ul>
      <li>Avoid liquid codes in <i>pages</i>,<br/>
        <small>except for content such as shortcodes.</small></li>
      <li>Logic and reusable should be moved to <i>_includes</i></li>
      <li>HTML layout view to parent template in <i>_layouts</i></li>
      <li>Child template in <i>_layouts</i> contain only frontmatter and include calls.</li>
    </ul>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/10/jekyll-plain-managing-code-one/">
    [Jekyll Plain - Managing Code - Part One]</a></small></p>
  </section>

  <section data-tutor="04">
    <h4>More Layout based on Default</h4>
    <img class="plain"
         alt="Jekyll: Managing Code: More Layout"
         src="{{< assets-ssg >}}/2020/06/plain/04-jekyll-nerdtree.png">
  </section>

  <section data-tutor="04">
    <h4>Template Inheritance: Page</h4>
    <img class="plain"
         alt="Jekyll: Managing Code: Template Inheritance: Layouts"
         src="{{< assets-ssg >}}/2020/06/plain/04-jekyll-layouts.png">
  </section>

  <section data-tutor="04">
    <h4>Template Inheritance: Page</h4>
    <p>With the result as below figure</p>
    <img class="plain"
         alt="Jekyll: Managing Code: Template Inheritance: Page Example"
         src="{{< assets-ssg >}}/2020/06/plain/04-jekyll-about-small.png">
  </section>

  <section data-tutor="05">
    <h4>Template Inheritance: Blog List</h4>
    <img class="plain"
         alt="Jekyll: Managing Code: Template Inheritance: Flow"
         src="{{< assets-ssg >}}/2020/06/plain/05-flow-blog-list.png">
  </section>

  <section data-tutor="04">
    <h4>Layout Example: Blog List</h4>
    <img class="plain"
         alt="Jekyll: Managing Code: Blog List Layout"
         src="{{< assets-ssg >}}/2020/06/plain/04-jekyll-blog-list-small.png">
  </section>

  <section data-tutor="05">
    <h4>Template Inheritance: Tags Tree</h4>
    <img class="plain"
         alt="Jekyll: Managing Code: Template Inheritance: Tags Tree"
         src="{{< assets-ssg >}}/2020/06/plain/05-flow-tags.png">
  </section>

  <section data-tutor="04">
    <h4>Layout Example: Tags Tree</h4>
    <img class="plain"
         alt="Jekyll: Managing Code: Tags Tree Layout"
         src="{{< assets-ssg >}}/2020/06/plain/04-jekyll-tags-tree-small.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/11/jekyll-plain-managing-code-two/">
    [Jekyll Plain - Managing Code - Part Two]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Template Inheritance: Archive By Month</h4>
    <img class="plain"
         alt="Jekyll: Managing Code: Template Inheritance: Archive By Month"
         src="{{< assets-ssg >}}/2020/06/plain/05-flow-by-month.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/12/jekyll-plain-managing-code-three/">
    [Jekyll Plain - Managing Code - Part Three]</a></small></p>
  </section>

  <section data-tutor="04">
    <h4>Layout Example: Archive By Month</h4>
    <img class="plain"
         alt="Jekyll: Managing Code: Archive By Month Layout"
         src="{{< assets-ssg >}}/2020/06/plain/04-jekyll-by-month-small.png">
  </section>

  <section>
    <h3>5: Feature 🤠</h3>
    <p>Pagination</p>
    <ul>
      <li data-tutor="05">Intro</li>
      <li data-tutor="05">Simple</li>
      <li data-tutor="05">Number</li>
      <li data-tutor="05">Adjacent</li>
      <li data-tutor="05">Indicator</li>
    </ul>
  </section>

  <section data-tutor="05">
    <h4>Pagination: Intro</h4>
    <p>Example Pagination URL</p>
    <ul>
      <li>Page 1: http://localhost:4000/pages/</li>
      <li>Page 2: http://localhost:4000/pages/blog-2/</li>
      <li>Page 3: http://localhost:4000/pages/blog-3/</li>
      <li>And so on.</li>
    </ul>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/14/jekyll-plain-pagination-intro/">
    [Jekyll Plain - Pagination - Intro]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Pagination: Simple</h4>
    <img class="plain"
         alt="Jekyll Pagination: Simple Pagination with Navigation"
         src="{{< assets-ssg >}}/2020/06/plain/05-pagination-01-simple.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/15/jekyll-plain-pagination-simple/">
    [Jekyll Plain - Pagination - Simple]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Pagination: Number</h4>
    <img class="plain"
         alt="Jekyll Pagination: Number Pagination without Navigation"
         src="{{< assets-ssg >}}/2020/06/plain/05-pagination-02-number.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/16/jekyll-plain-pagination-number/">
    [Jekyll Plain - Pagination - Number]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Pagination: Adjacent</h4>
    <p>Prepare pagination with indicator:<br>
      <small>by only showing what necessary, and hide the rest.</small></p>
    <img class="plain"
         alt="Jekyll Pagination: Basic Adjacent Pagination: Animation"
         src="{{< assets-ssg >}}/2020/06/plain/jekyll-plain-adjacent-animate.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/17/jekyll-plain-pagination-adjacent/">
    [Jekyll Plain - Pagination - Adjacent]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Pagination: Adjacent</h4>
    <p>Offset calculation require logic, and math.</p>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/18/jekyll-plain-pagination-logic/">
    [Jekyll Plain - Pagination - Logic]</a></small></p>
  </section>

  <section data-tutor="05">
    <h4>Pagination: Indicator</h4>
    <p>Nine pages as animation.</p>
    <img class="plain"
         alt="Jekyll Pagination: Adjacent Pagination with Indicator: Animation"
         src="{{< assets-ssg >}}/2020/06/plain/jekyll-plain-indicator-animate.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/19/jekyll-plain-pagination-indicator/">
    [Jekyll Plain - Pagination - Indicator]</a></small></p>
  </section>

  <section>
    <h3>6: Ruby Plugins 🤠</h3>
    <ul>
      <li data-tutor="06">Simple</li>
      <li data-tutor="06">Pagination</li>
      <li data-tutor="06">Tag Names</li>
    </ul>
  </section>

  <section data-tutor="06">
    <h4>Ruby Filter: Simple</h4>
    <p>Liquid limitation make code complex.</p>
    <img class="plain"
         alt="Jekyll Plugin: Long Code with Liquid"
         src="{{< assets-ssg >}}/2020/06/plain/06-terms-keywords-liquid.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/21/jekyll-plain-plugin-simple/">
    [Jekyll Plain - Plugin - Simple]</a></small></p>
  </section>

  <section data-tutor="06">
    <h4>Ruby Filter: Simple</h4>
    <p>This can be simplified by plugin.</p>
    <img class="plain"
         alt="Jekyll Plugin: Simple Code with Ruby Filter"
         src="{{< assets-ssg >}}/2020/06/plain/06-vim-keywords.png">
  </section>

  <section data-tutor="06">
    <h4>Ruby Filter: Pagination</h4>
    <p>Simplified Adjacent Calculation with Ruby Plugin.</p>
    <img class="plain"
         alt="Jekyll Plugin: Adjacent Calculation in Ruby Filter"
         src="{{< assets-ssg >}}/2020/06/plain/06-plugin-is-show-adjacent.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/22/jekyll-plain-plugin-pagination/">
    [Jekyll Plain - Plugin - Pagination]</a></small></p>
  </section>

  <section data-tutor="06">
    <h4>Ruby Filter: Pagination</h4>
    <p>Dramatically reduce liquid code.</p>
    <img class="plain"
         alt="Jekyll Plugin: Pagination Using Ruby Filter"
         src="{{< assets-ssg >}}/2020/06/plain/06-using-is-show-adjacent.png">
    <br/>
    <p>And also avoid buggy code.</p>
  </section>

  <section data-tutor="06">
    <h4>Ruby Filter: Tag Names</h4>
    <p>Extend official examples:<br/>
      <small>Now each tag name URLs can show list of post.</small></p>
    <img class="plain"
         alt="Jekyll Plugin: Tag Names Showing List of Post"
         src="{{< assets-ssg >}}/2020/06/plain/06-tags-blog-list.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/23/jekyll-plain-plugin-tag-names/">
    [Jekyll Plain - Plugin - Tag Names]</a></small></p>
  </section>

  <section>
    <h3>7: Theme Bundling 🤠</h3>
    <ul>
      <li data-tutor="07">Build Gemfile</li>
      <li data-tutor="07">Using Gemfile</li>
    </ul>
  </section>

  <section data-tutor="07">
    <h4>Build Gemfile</h4>
    <p>Bundling theme with Gemspec:<br/>
      <small>For use with other people.</small></p>
    <img class="plain"
         alt="Jekyll Plugin: Example of Gemspec"
         src="{{< assets-ssg >}}/2020/06/plain/07-oriclone-plain-gemspec.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/06/24/jekyll-plain-theme-bundling/">
    [Jekyll Plain - Theme Bundling]</a></small></p>
  </section>

  <section data-tutor="07">
    <h4>Using Theme in Gemfile</h4>
    <img class="plain"
         alt="Jekyll Plugin: Using Theme in Gemfile"
         src="{{< assets-ssg >}}/2020/06/plain/07-src-gemfile.png">
  </section>

  <section>
    <h3>In Need of Caffeine?</h3>
    <p>It is a good time to take a break for a while.</p>
    <img class="plain" height="30%" width="30%"
         src="{{< baseurl >}}assets/site/images/coffee.png">
    <p>🙇🏻</p>
    <p>Take a deep breath and continue.</p>
  </section>

  <section>
    <h3>8: Apply CSS 🤠</h3>
    <ul>
      <li data-tutor="08">Mobile First Page Design</li>
      <li data-tutor="08">Adding Assets</li>
      <li data-tutor="08">Using CSS Frameworks</li>
      <li data-tutor="08">Parent and Child Layouts</li>
      <li data-tutor="08">All Layouts</li>
    </ul>
  </section>

  <section data-tutor="08">
    <h4>Mobile First Page Design</h4>
    <img class="plain" alt="Jekyll: Responsive Page Design"
         src="{{< baseurl >}}assets/posts/frontend/2019/12/layout-page-trans.png">
  </section>

  <section data-tutor="08">
    <h4>Adding Assets</h4>
    <p>You can add any necessary assets such as:
    images, css frameworks, and javascript frameworks.</p>
    <img class="plain" alt="Jekyll Bootstrap: Assets Tree"
         src="{{< assets-ssg >}}/2020/07/bootstrap/08-tree-assets.png">
  </section>

  <section data-tutor="08">
    <h4>Using CSS Frameworks</h4>
    <p>Using CSS framework such as Bulma or Bootstrap or Custom,
    can make your life easier.</p>
    <img class="plain"
         alt="Jekyll Bootstrap: Home Page Content"
         src="{{< assets-ssg >}}/2020/07/bootstrap/08-pages-home-alternate.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/02/jekyll-bsoc-css-intro/">
    [Jekyll - Bootstrap - CSS - Part One]</a></small></p>
  </section>

  <section data-tutor="08">
    <h4>Parent and Child Layouts</h4>
    <p>Both are using Bootstrap now.</p>
    <img class="plain"
         alt="Jekyll Bootstrap: Parent Layout"
         src="{{< assets-ssg >}}/2020/07/bootstrap/08-parent-page.png">
    <br/>
  </section>

  <section data-tutor="08">
    <h4>All Layouts</h4>
    <p>We can apply to other layouts as well.</p>
    <img class="plain"
         alt="Jekyll Bootstrap: Tags Layout"
         src="{{< assets-ssg >}}/2020/07/bootstrap/08-pages-tags-alternate.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/03/jekyll-bsoc-css-layout/">
    [Jekyll - Bootstrap - CSS - Part Two]</a></small></p>
  </section>

  <section>
    <h3>9: Apply SASS 🤠</h3>
    <ul>
      <li data-tutor="09">Using Custom SASS</li>
      <li data-tutor="09">Adding SASS Assets</li>
      <li data-tutor="09">Apply to All Layouts</li>
    </ul>
  </section>

  <section data-tutor="09">
    <h4>Using Custom SASS</h4>
    <p>You desire for a better design.<br/>
    <small>Further, you can utilize stylesheet<br/>to control your responsive space,
       or custom component.</small></p>
    <p>Long code tends to get messy.<br/>
    <small>You need to get organized.</small></p>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/04/jekyll-bsoc-sass-intro/">
    [Jekyll - Bootstrap - SASS - Part One]</a></small></p>
  </section>

  <section data-tutor="09">
    <h4>Using Custom SASS</h4>
    <p>Enhance theme looks:<br/>
      <small>Small thing, might have great impact.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Home Page Content"
         src="{{< assets-ssg >}}/2020/07/bootstrap/09-pages-home-alternate.png">
    <br/>
  </section>

  <section data-tutor="09">
    <h4>Adding SASS Assets</h4>
    <p>Jekyll utilize SASS/SCSS as default CSS preprocessor.</p>
    <img class="plain" alt="Jekyll Bootstrap: SASS Assets Tree"
         src="{{< assets-ssg >}}/2020/07/bootstrap/09-tree-sass.png">
  </section>

  <section data-tutor="09">
    <h4>Adding SASS Assets</h4>
    <p>Import SASS from any directory.</p>
    <img class="plain" alt="Jekyll Bootstrap: SASS Import"
         src="{{< assets-ssg >}}/2020/07/bootstrap/09-tree-assets-sass.png">
  </section>

  <section data-tutor="09">
    <h4>Apply to All Layouts</h4>
    <p>Again, we can apply to other layouts as well.</p>
    <img class="plain"
         alt="Jekyll Bootstrap: Pages Layout: About"
         src="{{< assets-ssg >}}/2020/07/bootstrap/09-pages-about.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/05/jekyll-bsoc-sass-layout/">
    [Jekyll - Bootstrap - SASS - Part Two]</a></small></p>
  </section>

  <section>
    <h3>10: Layout 🤠</h3>
    <ul>
      <li data-tutor="10">Variables</li>
      <li data-tutor="10">Responsive Content</li>
    </ul>
  </section>

  <section data-tutor="10">
    <h4>Variables</h4>
    <p>Managing Default Color Between Layout.</p>
    <img class="plain"
         alt="Jekyll Bootstrap: Managing Default Color Between Layout"
         src="{{< assets-ssg >}}/2020/07/bootstrap/10-post-maguire.png">
    <br/>
  </section>

  <section data-tutor="10">
    <h4>Variables</h4>
    <p>Color Property Propagation<br/>
      <small>From pages frontmatter to child layout to parent layout.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Color Property Propagation"
         src="{{< assets-ssg >}}/2020/07/bootstrap/10-color-inheritance-small.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/05/jekyll-bsoc-layout-variables/">
    [Jekyll - Bootstrap - Layout - Variables]</a></small></p>
  </section>

  <section data-tutor="10">
    <h4>Responsive Content</h4>
    <p>Mobile First Content Design</p>
    <img class="plain" alt="Jekyll Bootstrap: Responsive Content Design"
         src="{{< baseurl >}}assets/posts/frontend/2019/12/layout-content-trans.png">
  </section>

  <section data-tutor="10">
    <h4>Responsive Content</h4>
    <p>Mobile First Index Columns</p>
    <img class="plain"
         alt="Jekyll Bootstrap: Responsive Index Columns"
         src="{{< assets-ssg >}}/2020/07/bootstrap/12-multiline-archive-by-year.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/05/jekyll-bsoc-layout-index-list/">
    [Jekyll - Bootstrap - Layout - Index List]</a></small></p>
  </section>

  <section>
    <h3>11: Widget 🤠</h3>
    <ul>
      <li data-tutor="11">Template</li>
      <li data-tutor="11">Simple</li>
      <li data-tutor="11">Liquid Loop</li>
      <li data-tutor="11">Static Data</li>
    </ul>
  </section>

  <section data-tutor="11">
    <h4>Widget Template</h4>
    <p>Prepare the default looks.</p>
    <img class="plain"
         alt="Jekyll Bootstrap: Default Widget Template"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-nerdtree-widget.png">
  </section>

  <section data-tutor="11">
    <h4>Widget</h4>
    <p>Simple Widget<br/>
    <small>Start from simple, such as plain HTML list.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Simple Widget Example"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-widget-affiliates.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/08/jekyll-bsoc-widget-simple-html/">
    [Jekyll - Bootstrap - Widget - Simple HTML]</a></small></p>
  </section>

  <section data-tutor="11">
    <h4>Widget</h4>
    <p>Liquid Loop<br/>
    <small>You can also put anything in your widget as creative as you are.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Custom Widget with Loop in Liquid"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-widget-archive-with-header.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/09/jekyll-bsoc-widget-liquid-loop/">
    [Jekyll - Bootstrap - Widget - Liquid Loop]</a></small></p>
  </section>

  <section data-tutor="11">
    <h4>Static Data</h4>
    <small>To generate content, such as backlink, internal link, or other stuff.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Backlink form Github Blog"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-widget-archive-github.png">
    <img class="plain"
         alt="Jekyll Bootstrap: Backlink form Gitlab Blog"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-widget-archive-gitlab.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/07/10/jekyll-bsoc-widget-static-data/">
    [Jekyll - Bootstrap - Widget - Static Data]</a></small></p>
  </section>

  <section data-tutor="11">
    <h4>Static Data</h4>
    <p>Now consider link the data.<br/>
    <small>From this content below.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Frontmatter: Related Post ID"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-related-links-id.png">
  </section>

  <section data-tutor="11">
    <h4>Static Data</h4>
    <p>With previous frontmatter.<br/>
    <small>We can see one or more links in a widget.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Widget: Related Posts"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-widget-related-posts.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/07/08/jekyll-bsoc-widget-static-data/">
    [Jekyll - Bootstrap - Widget - Static Data]</a></small></p>
  </section>

  <section>
    <h3>12: Pagination 🤠</h3>
    <ul>
      <li data-tutor="11">Bootstrap Stylesheet</li>
      <li data-tutor="11">Bootstrap Responsive</li>
      <li data-tutor="11">Bulma Stylesheet</li>
      <li data-tutor="11">Bulma Responsive</li>
    </ul>
  </section>

  <section data-tutor="11">
    <h4>Pagination</h4>
    <p>Bootstrap Stylesheet:<br/>
    <small>Using Liquid and Bootstrap stylesheet,<br/>
    a common pagination could be achieved.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap Pagination: Combined Animation"
         src="{{< assets-ssg >}}/2020/07/bootstrap/jekyll-pg-bsoc-04-indicator.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/12/jekyll-bsoc-pagination-stylesheet/">
    [Jekyll - Bootstrap - Pagination - Stylesheet]</a></small></p>
  </section>

  <section data-tutor="11">
    <h4>Pagination</h4>
    <p>Bootstrap Responsive:<br/>
    <small>Using Liquid and custom stylesheet,<br/>
    a responsive pagination also could be achieved.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap Pagination: Responsive Animation"
         src="{{< assets-ssg >}}/2020/07/bootstrap/jekyll-pg-bsoc-05-responsive.gif">
    <img class="plain"
         alt="Jekyll Bootstrap Pagination: Alternate Responsive Animation"
         src="{{< assets-ssg >}}/2020/07/bootstrap/jekyll-pg-bsoc-05-alternate.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/13/jekyll-bsoc-pagination-responsive/">
    [Jekyll - Bootstrap - Pagination - Responsive]</a></small></p>
  </section>

  <section data-tutor="11">
    <h4>Pagination</h4>
    <p>Bulma Stylesheet:<br/>
    <small>Using Liquid and Bulma stylesheet,<br/>
    a common pagination could be achieved.</small></p>
    <img class="plain"
         alt="Jekyll Bulma Pagination: Combined Animation"
         src="{{< assets-ssg >}}/2020/08/bulma/jekyll-pg-bmd-04-indicator.gif">
    <img class="plain"
         alt="Jekyll Bulma Pagination: Alternate Combined Animation"
         src="{{< assets-ssg >}}/2020/08/bulma/jekyll-pg-bmd-04-alternate.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/08/12/jekyll-bmd-pagination-stylesheet/">
    [Jekyll - Bulma - Pagination - Stylesheet]</a></small></p>
  </section>

  <section data-tutor="11">
    <h4>Pagination</h4>
    <p>Bulma Responsive:<br/>
    <small>Using Liquid and custom stylesheet,<br/>
    a responsive pagination also could be achieved.</small></p>
    <img class="plain"
         alt="Jekyll Bulma Pagination: Responsive Animation"
         src="{{< assets-ssg >}}/2020/08/bulma/jekyll-pg-bmd-05-responsive.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/08/13/jekyll-bmd-pagination-responsive/">
    [Jekyll - Bulma - Pagination - Responsive]</a></small></p>
  </section>

  <section>
    <h3>13: Blog Post 🤠</h3>
    <ul>
      <li data-tutor="11">Parent Layout</li>
      <li data-tutor="11">Child Layout</li>
      <li data-tutor="11">Preview</li>
      <li data-tutor="11">Additional</li>
    </ul>
  </section>

  <section data-tutor="11">
    <h4>Blog Post: Parent Layout</h4>
    <p>Your generic <strong>columns-double.html</strong>.<br/>
    <small>Should contain header, and optionally footer.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap Content: Blog Post Parent Layout"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-vim-layout-columns-double.png">
  </section>

  <section data-tutor="11">
    <h4>Blog Post: Child Layout</h4>
    <p>Your typical <strong>post.html</strong>.<br/>
    <small>May contain additional stuff such as:<br/>
    table of content, navigation, and maybe license.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap Content: Blog Post Child Layout"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-vim-layout-post.png">
  </section>

  <section data-tutor="11">
    <h4>Blog Post: Preview</h4>
    <p><small>A typical post can be seen in preview below.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Post with Header, Footer, and Navigation"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-blog-post-crop.png">
    <p><small><a href="{{< baseurl >}}ssg/2020/07/14/jekyll-bsoc-blog-post/">
    [Jekyll - Content - Blog Post]</a></small></p>
  </section>

  <section data-tutor="11">
    <h4>Blog Post: Additional</h4>
    <p><small>You can add any stuff such as Table of Content.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Post with Table of Content"
         src="{{< assets-ssg >}}/2020/07/bootstrap/11-content-toc.png">
  </section>

  <section>
    <h3>14: Content 🤠</h3>
    <ul>
      <li data-tutor="12">Markdown</li>
      <li data-tutor="12">Shortcode</li>
      <li data-tutor="12">Syntax Highlighting</li>
      <li data-tutor="12">Miscellanous: MathJax</li>
    </ul>
  </section>

  <section data-tutor="08">
    <h4>Markdown</h4>
    <p><small>The same as previous.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Markdown"
         src="{{< assets-ssg >}}/2020/07/bootstrap/12-sass-space.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2020/07/15/jekyll-bsoc-content/">
    [Jekyll - Bootstrap - Content]</a></small></p>
  </section>

  <section data-tutor="08">
    <h4>Shortcodes</h4>
    <p><small>The same as previous.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: Shortcodes"
         src="{{< assets-ssg >}}/2020/07/bootstrap/12-commercial.png">
  </section>

  <section data-tutor="08">
    <h4>Syntax Highlighting</h4>
    <!--p><small>This takes additional stylesheets.</small></p-->
    <img class="plain"
         alt="Jekyll Bootstrap: Syntax Highlighter"
         src="{{< assets-ssg >}}/2020/07/bootstrap/12-highlighter.png">
  </section>

  <section data-tutor="08">
    <h4>MathJax</h4>
    <p><small>Math Lovers won't forget about this.</small></p>
    <img class="plain"
         alt="Jekyll Bootstrap: MathJax"
         src="{{< assets-ssg >}}/2020/07/bootstrap/12-mathjax.png">
  </section>

  <section>
    <h3>Deploy!</h3>
    <small>To Github or Gitlab or Bitbucket or Netlify or else.</small></p>
    <img class="plain"
         alt="CI/CD: Github Workflows: Eleventy Runner"
         src="{{< baseurl >}}assets/posts/devops/2020/02/workflows/08-workflows-05-jekyll-job-deploy.png">
    <br/>
    <p><small><a href="{{< baseurl >}}devops/2020/02/10/ci-cd-overview/">
    [CI/CD - Deploy Overview]</a></small></p>
  </section>

  <section>
    <h4>What is Next 🤔?</h4>
    <p>Leverage to JAM stack!</p>
    <p><small><a href="https://www.staticgen.com/">staticgen.com</a></small></p>
    <p><small><a href="https://t.me/JAMstackID">@JAMstackID</a></small></p>
  </section>
  <section>
    <h3>Questions 🤔?</h3>
    <p>Don't be shy 🙋🏻‍♂️!</p>
  </section>
  <section>
    <h3>The End</h3>
    <p>🙇🏻</p>
    <p>Thank You for Your Time.</p>
  </section>
