---
type   : presentation
title  : "Hexo - Presentation Slide"
date   : 2019-05-30T09:17:35+07:00
slug   : hexo-presentation
categories: [ssg]
tags      : [css]
keywords  : [presentation, static site, markdown, advantage, disadvantage]
author : epsi
opengraph:
  image: assets/site/images/kiddo-bulat-008.png

excerpt:
  Presentation of SSG concept.
  Introduction to static site generator.

---

  <section>
    <h3>Hexo Static Generator</h3>
    <p>Building Site with Hexo.</p>
    <br>
    <p><small>This media can also be read in: 
      <a href="{{< baseurl >}}ssg/2019/05/30/hexo-summary/">
      [Hexo - Summary]</a> article</small>
    </p>
  </section>

  <section>
    <h3>About Me 🙋🏻‍♂️!</h3>
    <img class="plain" style="background:none;" alt="my photo"
         src="{{< baseurl >}}assets/site/images/authors/epsi-2017-bulat.png">
    <p>Yet, another underachiever 👻.</p>
    <p>But hey, I have my own blog 🎉.</p>
  </section>

  <section>
    <h3>Why Hexo 🤔?</h3>
    <ul>
      <li>Static Site Generator:<br/>
        <small>Focus on frontend: Great theme.</small></li>
      <li>Markdown:<br/>
        <small>Concentrate more on content.</small></li>
      <li>EJS Templating Engine (or else):<br/>
        <small>Plain javascript is easier to use.</small></li>
    </ul>
  </section>

  <section>
    <h3>Why Hexo 🤔?</h3>
    <p>This is just an example project.
    Most you can do with one SSG can be done with other SSG as well.</p>
    <p>You are free to use your SSG choice:<br/>
    <small>Jekyl, Hugo, Hexo, 11ty, Pelican, Gatsby</small></p>
    <p><small><a href="{{< baseurl >}}/ssg/2019/02/17/concept-ssg/">
    [Presentation - Concept SSG]</a></small></p>
  </section>

  <section>
    <h3>Step of Making Theme 🤔?</h3>
    <ul>
      <li>General Layout:<br/>
        <small>Preparing site wide layout.</small></li>
      <li>Custom Pages:<br/>
        <small>Making necessary custom pages.</small></li>
      <li>Content:<br/>
        <small>Adding stylesheet for content.</small></li>
      <li>Optional Feature:<br/>
        <small>Such as pagination.</small></li>
    </ul>
  </section>

  <section>
    <h3>1: General Layout 🤠</h3>
    <ul>
      <li>Minimal Theme</li>
      <li>Adding Assets</li>
      <li>CSS Frameworks</li>
      <li>Using SASS</li>
      <li>More Layout</li>
    </ul>
  </section>

  <section>
    <h4>Minimal Theme</h4>
    <p>The easiest thing to do this is to make a minimal theme,
    and modified later.</p>
    <img class="plain" alt="Hexo: Minimal Theme"
         src="{{< assets-ssg >}}/2019/05/11-tree-minimal-theme.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/03/hexo-minimal/">
    [Hexo - Minimal]</a></small></p>
  </section>

  <section>
    <h4>Minimal Theme</h4>
    <p>Of course you need better than these two.
    From header, footer, to nice looks stylesheet.</p>
    <img class="plain" alt="Hexo: Pure HTML Theme"
         src="{{< assets-ssg >}}/2019/05/13-tree-pure-html-theme.png">
  </section>

  <section>
    <h4>Layout Template</h4>
    <p>Your typical layout would contain header and footer.</p>
    <img class="plain" alt="Hexo: ViM Layout"
         src="{{< assets-ssg >}}/2019/05/13-vim-layout-ejs.png">
  </section>

  <section>
    <h4>Layout Template</h4>
    <p>With very humble result as figure below</p>
    <img class="plain" alt="Hexo: Landing Page on Browser"
         src="{{< assets-ssg >}}/2019/05/13-browser-landing-page.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/04/hexo-layout/">
    [Hexo - Layout]</a></small></p>
  </section>

  <section>
    <h4>Adding Assets</h4>
    <p>You can add any necessary assets such as:
    images, css frameworks, and javascript frameworks.</p>
    <img class="plain" alt="Hexo Bulma: Tree"
         src="{{< assets-ssg >}}/2019/05/21-tree-bulma-asset.png">
  </section>

  <section>
    <h4>Adding Assets</h4>
    <p>And see the result in action.</p>
    <img class="plain" alt="Hexo Bulma: Layout Homepage"
         src="{{< assets-ssg >}}/2019/05/22-browser-homepage.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/05/hexo-bulma-css-intro/">
    [Hexo - Bulma - CSS - Part One]</a></small></p>
  </section>

  <section>
    <h4>CSS Frameworks</h4>
    <p>Using CSS framework such as Bulma or Bootstrap,
    can make your life easier.</p>
    <img class="plain"
         alt="Hexo Bulma: Layout Navigation Bar"
         src="{{< assets-ssg >}}/2019/05/22-browser-navbar-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/06/hexo-bulma-css-layout/">
    [Hexo - Bulma - CSS - Part Two]</a></small></p>
  </section>

  <section>
    <h4>Using SASS</h4>
    <p>Long code tends to get messy.
    You need to get organized.</p>
    <img class="plain"
         alt="Hexo Bulma SASS: Tree sass"
         src="{{< assets-ssg >}}/2019/05/31-tree-sass.png">
    <p><small><a href="{{< baseurl >}}/frontend/2019/02/15/concept-css/">
    [Presentation - Concept CSS]</a></small></p>
  </section>

  <section>
    <h4>Using SASS</h4>
    <p>Now you can have a nicer looks in browser.</p>
    <img class="plain"
         alt="Hexo Bulma: Layout Homepage"
         src="{{< assets-ssg >}}/2019/05/32-browser-homepage-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/07/hexo-bulma-sass-intro/">
    [Hexo - Bulma - SASS - Part One]</a></small></p>
  </section>

  <section>
    <h4>More Layout</h4>
    <p>Further, you can utilize stylesheet to control your responsive space,
       or custom component.</p>
    <img class="plain"
         alt="Hexo Bulma: Post with sidebar Layout"
         src="{{< assets-ssg >}}/2019/05/35-browser-post-flex-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/08/hexo-bulma-sass-layout/">
    [Hexo - Bulma - SASS - Part Two]</a></small></p>
  </section>

  <section>
    <h3>2: Custom Pages 🤠</h3>
    <ul>
      <li>Default Pages</li>
      <li>Custom Layouts Pages</li>
      <li>Styling Layout</li>
      <li>Simple Summary Page</li>
      <li>Complex Summary Page</li>
      <li>Custom Output</li>
      <li>Widget</li>
      <li>Data</li>
    </ul>
  </section>

  <section>
    <h4>Default Pages</h4>
    <p>Hexo has this four special page sections.</p>
    <ul>
      <li>Index:<br/>
        <small>http://localhost:4000/blog/</small></li>
      <li>Archive:<br/>
        <small>http://localhost:4000/archives/<br/>
        http://localhost:4000/archives/2015/<br/>
        http://localhost:4000/archives/2015/05/</small></li>
      <li>Category:<br/>
        <small>http://localhost:4000/categories/lyric/</small></li>
      <li>Tag:<br/>
        <small>http://localhost:4000/tags/pop/</small></li>
    </ul>
  </section>

  <section>
    <h4>Default Pages (example)</h4>
    <img class="plain"
         alt="Hexo: Browser Section Tag"
         src="{{< assets-ssg >}}/2019/05/37-section-tag.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/10/hexo-ejs-section-list-intro/">
    [Hexo - EJS - Section List - Part One]</a></small></p>
  </section>

  <section>
    <h4>Custom Layouts Pages</h4>
    <p>However you still have to make your own page for summary:</p>
    <ul>
      <li>Category List:<br/>
        <small>http://localhost:4000/categories.html</small></li>
      <li>Tag List:<br/>
        <small>http://localhost:4000/tags.html</small></li>
      <li>Landing Page:<br/>
        <small>http://localhost:4000/</small></li>
    </ul>
  </section>

  <section>
    <h4>Styling Layout</h4>
    <p>Instead of plain looks, you can style custom layout.</p>
    <img class="plain"
         alt="Hexo: Browser Section Tag"
         src="{{< assets-ssg >}}/2019/05/42-section-tag-s.png">
  </section>

  <section>
    <h4>Styling Layout</h4>
    <p>With any looks, as creative as you can.</p>
    <img class="plain"
         alt="Hexo: Blog Index Refactored"
         src="{{< assets-ssg >}}/2019/05/42-browser-index-refactored-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/13/hexo-ejs-section-list-layout/">
    [Hexo - EJS - Section List - Part Two]</a></small></p>
  </section>

  <section>
    <h4>Simple Summary Page</h4>
    <p>Your attempt to make summary page should be just a simple loop.</p>
    <img class="plain"
         alt="Hexo: Custom Page: Simple Tag List"
         src="{{< assets-ssg >}}/2019/05/38-browser-tags-only-s.png">
  </section>

  <section>
    <h4>Simple Summary Page</h4>
    <p>And then you can make a nice looks,
       from that simple loop above, using bulma's button class.</p>
    <img class="plain"
         alt="Hexo: Refactoring Terms: Button of Tags"
         src="{{< assets-ssg >}}/2019/05/41-browser-tags-buttons-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/11/hexo-ejs-custom-page-intro/">
    [Hexo - EJS - Custom Page - Part One]</a></small></p>
  </section>

  <section>
    <h4>Complex Summary Page</h4>
    <p>You can go further by showing tree of pages in this summary page.</p>
    <img class="plain"
         alt="Hexo: Refactoring Terms: Categories"
         src="{{< assets-ssg >}}/2019/05/41-browser-categories-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/12/hexo-ejs-custom-page-layout/">
    [Hexo - EJS - Custom Page - Part Two]</a></small></p>
  </section>

  <section>
    <h4>Custom Output</h4>
    <p>Without adding any plugin, Hexo cannot generate custom output.
    But there is a trick.</p>
    <img class="plain"
         alt="Hexo Bulma: Archives JSON File"
         src="{{< assets-ssg >}}/2019/05/44-custom-output-json-file-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/14/hexo-ejs-custom-output/">
    [Hexo - EJS - Custom Output]</a></small></p>
  </section>

  <section>
    <h4>Widget</h4>
    <p>You can also put anything in your layout as creative as you are.</p>
    <img class="plain"
         alt="Hexo: Widget Archives Grouped"
         src="{{< assets-ssg >}}/2019/05/43-widget-archives-grouped-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/15/hexo-ejs-widget/">
    [Hexo - EJS - Widget]</a></small></p>
  </section>

  <section>
    <h4>Data</h4>
    <p>You can also utilize static data to generate content,
    such as backlink, internal link, or other stuff.</p>
    <img class="plain"
         alt="Hexo: Content with Data"
         src="{{< assets-ssg >}}/2019/05/43-vim-data-archives-yml.png">
  </section>

  <section>
    <h4>Data</h4>
    <p>Now consider link the data from this content below.</p>
    <img class="plain"
         alt="Hexo: Content with Data"
         src="{{< assets-ssg >}}/2019/05/43-vim-susan-wong.png">
  </section>

  <section>
    <h4>Data</h4>
    <p>With previous article,
    now we can see one or more links in a widget.</p>
    <img class="plain"
         alt="Hexo: Widget Related Posts"
         src="{{< assets-ssg >}}/2019/05/43-widget-related-post.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/16/hexo-ejs-data/">
    [Hexo - EJS - Data]</a></small></p>
  </section>

  <section>
    <h3>3: Content 🤠</h3>
    <ul>
      <li>Layout: Blog Post</li>
      <li>Markdown Configuration</li>
      <li>Layout: Raw HTML</li>
      <li>Syntax Highlighting</li>
      <li>Meta SEO</li>
    </ul>
  </section>

  <section>
    <h4>Layout: Blog Post</h4>
    <p>Your typical <strong>post.ejs</strong> should contain header,
    and optionally footer (such as license) and navigation.</p>
    <img class="plain"
         alt="Hexo Content: ViM Post Layout"
         src="{{< assets-ssg >}}/2019/05/62-vim-layout-post-ejs.png">
  </section>

  <section>
    <h4>Layout: Blog Post</h4>
    <p>A complete post can be seen in preview below.</p>
    <img class="plain"
         alt="Hexo: Card Related Posts"
         src="{{< assets-ssg >}}/2019/05/61-blog-post-all-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/24/hexo-content-post/">
    [Hexo - Content - Blog Post]</a></small></p>
  </section>

  <section>
    <h4>Markdown Configuration</h4>
    <p>Be aware of markdown configuration,
    as it takes tweak to make it follow standard practice.</p>
    <img class="plain"
         alt="Hexo Markdown: Fix Bulma Heading Class Size"
         src="{{< assets-ssg >}}/2019/05/62-heading-styled-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/25/hexo-content-markdown/">
    [Hexo - Content - Markdown]</a></small></p>
  </section>

  <section>
    <h4>Layout: Raw HTML</h4>
    <p>Raw html is useful when you want to add service,
     or just plain html such as TOC in figure below</p>
    <img class="plain"
         alt="Hexo Raw HTML: Table of Content"
         src="{{< assets-ssg >}}/2019/05/63-toc-susan-wong-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/26/hexo-content-html/">
    [Hexo - Content - Raw HTML]</a></small></p>
  </section>

  <section>
    <h4>Syntax Highlighting</h4>
    <p>Syntax highlighting in Hexo is using <code>figure</code> tag.
    In some cases you need to fix the stylesheet.</p>
    <img class="plain"
         alt="Hexo Syntax Highlighting: Reset Class in Figure Element"
         src="{{< assets-ssg >}}/2019/05/64-highlight-unstyled-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/27/hexo-syntax-highlighting/">
    [Hexo - Content - Syntax Highlighting]</a></small></p>
  </section>

  <section>
    <h4>Meta SEO</h4>
    <p>Opengraph is a must nowadays.</p>
    <img class="plain"
         alt="Hexo Meta: Telegram Desktop Opengraph"
         src="{{< assets-ssg >}}/2019/05/59-tele-desktop-opengraph-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/28/hexo-meta-seo/">
    [Hexo - Meta - SEO]</a></small></p>
  </section>

  <section>
    <h3>4: Feature: Pagination 🤠</h3>
    <ul>
      <li>Numbering</li>
      <li>Responsive</li>
      <li>Handling URL</li>
    </ul>
  </section>

  <section>
    <h4>Numbering</h4>
    <p>Using EJS and Bulma stylesheet,
    a common pagination could be achieved.</p>
    <img class="plain"
         alt="Hexo Pagination: Combined Animation"
         src="{{< assets-ssg >}}/2019/05/54-hexo-bulma-indicator-animate.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/20/hexo-pagination-indicator/">
    [Hexo - Pagination - Indicator]</a></small></p>
  </section>

  <section>
    <h4>Responsive</h4>
    <p>Using EJS and custom stylesheet,
    a responsive pagination also could be achieved.</p>
    <img class="plain"
         alt="Hexo Pagination: Responsive Animation"
         src="{{< assets-ssg >}}/2019/05/55-hexo-bulma-responsive-animate.gif">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/21/hexo-pagination-responsive/">
    [Hexo - Pagination - Responsive]</a></small></p>
  </section>

  <section>
    <h4>Handling URL</h4>
    <p>There are sections, that we can put pagination inside it.</p>
    <ul>
      <li>Index:<br/>
        <small>blog age: http://localhost:4000/blog/</small></li>
      <li>Archive:<br/>
        <small>root: http://localhost:4000/archives/<br/>
        year: http://localhost:4000/archives/2018/<br/>
        month: http://localhost:4000/archives/2018/09/</small></li>
      <li>Category:<br/>
        <small>item: http://localhost:4000/categories/lyric/</small></li>
      <li>Tag:<br/>
        <small>item: http://localhost:4000/tags/pop/</small></li>
    </ul>
  </section>

  <section>
    <h4>Handling URL</h4>
    <p>We need to handle previous URLs correctly with EJS function.</p>
    <img class="plain"
         alt="Hexo: Browser Section Tag"
         src="{{< assets-ssg >}}/2019/05/57-section-tag-s.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/23/hexo-pagination-handling-url/">
    [Hexo - Pagination - Handling URL]</a></small></p>
  </section>

  <section>
    <h3>What is Next 🤔?</h3>
    <p>Deploy!<br/>
    <small>To Github or Gitlab or Netlify.</small></p>
    <img class="plain"
         alt="Netlify: New Site"
         src="{{< assets-ssg >}}/2019/05/66-netlify-00-new-site.png">
    <br/>
    <p><small><a href="{{< baseurl >}}ssg/2019/05/29/deploy-netlify/">
    [Netlify - Hosting]</a></small></p>
  </section>
  <section>
    <h3>Questions 🤔?</h3>
    <p>Don't be shy 🙋🏻‍♂️!</p>
  </section>
  <section>
    <h3>The End</h3>
    <p>🙇🏻</p>
    <p>Thank You for Your Time.</p>        
  </section>
