{{ define "main" }}
  <main role="main" class="col-md-8">
    <div id="sitedesc_image"></div>

    <div class="container-fluid p-3 mb-3 
                bg-light rounded border border-dark shadow-hover">
      <header>
        <h2>{{ .Title | default .Site.Title }}</h2>
      </header>

      <article>
        {{ .Content }}
      </article>
    </div>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col-md-4">
    {{ partial "widget/tags.html" (dict "taxonomies" .Site.Taxonomies "view_tag_type" "before") }}
    {{ partial "widget/recent-posts.html" . }}
    {{ partial "widget/affiliates.html" . }}
  </aside>
{{ end }}

{{ define "yaosb" }}
<!-- no yaosb site image -->
{{ end }}
