<div class="card hidden-sm hidden-xs mb-3 shadow-hover">
  <div class="card-header bg-stripe-zero text-dark pb-0">
    <span class="fas fa-child float-right"></span>
    <p class="card-title">Affiliates</p>
    <div class="clearfix"></div>
  </div>
  <div class="card-body py-2">
    <ul class="card_list">
      <li><a href="http://epsi-rns.github.io/">
        Linux/BSD Desktop Customization</a></li>
      <li><a href="http://oto-spies.info/">
        Car Painting and Body Repair.</a></li>
      <li><a href="https://akutidaktahu.netlify.com/">
        Hexo: Usaha Kecil Menengah</a></li>
      <li><a href="https://eleventy-step.netlify.com/">
        Eleventy: Step by Step Demo</a></li>
      <li><a href="https://gitlab.com/epsi-rns/tutor-jekyll-bulma-md">
        Jekyll: Bulma Material Design</a></li>
    </ul>
  </div>
</div>

