<div class="card hidden-sm hidden-xs mb-3 shadow-hover">
  <div class="card-header bg-stripe-zero text-dark pb-0">
    <span class="fa fa-newspaper float-right"></span>
    <p class="card-title">Recent Posts</p>
    <div class="clearfix"></div>
  </div>
  <div class="card-body py-2">
    <ul class="card_list">
      {{ range first 5 (where .Site.Pages "Type" "post") }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
