---
type   : presentation
title  : "Presentation - Concept CSS"
date   : 2019-02-15T09:17:35+07:00
slug   : concept-css
categories: [frontend]
tags      : [presentation, css]
keywords  : [css framework, css preprocessor, advantage, disadvantage]
author : epsi
opengraph:
  image: assets/site/images/kiddo-bulat-008.png

excerpt:
  Presentation of CSS concept.
  Introduction to CSS framework and CSS preprocessor.

---

  <section>
    <h3>Frameworks and Tools</h3>
    <p>Introduction to CSS for beginner.</p>
    <br/>
    <p><small>Click download in:
       <a href="{{< berkas2-blob >}}/impress-presentation/03-concept-css/presentation-concept-css-diagram.pdf">
        [PDF]</a>,
       <a href="{{< berkas2-blob >}}/impress-presentation/03-concept-css/presentation-concept-css-diagram.odp">
        [Impress]</a>
    </small></p>
    <p><small>All slides in:
       <a href="/frontend/2020/10/11/slides-concept-css/">
        [slides]</a>
    </small></p>
  </section>

  <section>
    <h3>About Me 🙋🏻‍♂️!</h3>
    <img class="plain" style="background:none;" alt="my photo"
         src="{{< baseurl >}}assets/site/images/authors/epsi-2017-bulat.png">
    <p>Yet, another underachiever 👻.</p>
    <p>But hey, I have my own blog 🎉.</p>
  </section>

  <section>
    <h3>Frontend: HTML, CSS, JS</h3>
    <h3>What is this rubbish ?</h3>
  </section>

  <section>
    <h4>A page is a document consist of:</h4>
    <ul>
      <li>HTML Tag: Structure and Formatting<br/>
        <small>(structure = elements in hierarcy fashioned)</small></li>
      <li>Stylesheet: Presentation<br/>
        <small>(rule = selector + declaration)<br/>
        (box model, position)<br/>
        (layout: flex, grid, float+calc, table)</small></li>
      <li>Javascript: Behaviour</li>
      <li>Content: Text and Image (or other media)</li>
    </ul>
    <p><small>More Reference: <a 
    href="http://didawiki.cli.di.unipi.it/lib/exe/fetch.php/magistraleinformaticaeconomia/va/2016/va_lesson4.pdf"
    >va_lesson4.pdf</a></small></p>
  </section>
  <section>
    <h4>Learning HTML Step by Step?:</h4>
    <ul>
      <li>Basic HTML:<br/>
        <small><a href="https://www.w3schools.com/html/">
      [www.w3schools.com/html/]</a></small></li>
      <li>Templating Engine:<br/>
        <small>Combine with Task Runner.</small></li>
      <li>Static Site Generator:<br/>
        <small>Complete website, without complicated backend.</small></li>
      <li>Backend Web Framework:<br/>
        <small>Laravel, Flask, RoR, Koa, Express.</small></li>
      <li>Modern Web Framework:<br/>
        <small>Svelte, React, Vue.</small></li>
    </ul>
    <p><small>Learn how to google, make a screenshot, read documentation, and english.</small></p>
  </section>
  <section>
    <h4>Learning CSS Step by Step?:</h4>
    <ul>
      <li>Basic CSS:<br/>
        <small><a href="https://www.w3schools.com/css/">
      [www.w3schools.com/css/]</a></small></li>
      <li>Frameworks CSS:<br/>
        <small>Such as Bulma, Materialize CSS, or Semantic UI.</small></li>
      <li>CSS Preprocessors:<br/>
        <small>Task Runner or Bundler.</small></li>
      <li>CSS Tools:<br/>
        <small>Such as Bulma, Materialize CSS, or Semantic UI.</small></li>
      <li>Custom CSS:<br/>
        <small>No Frameworks, or<br/>
        Tailwind CSS</small></li>
    </ul>
    <p><small>Learn how to google, make a screenshot, read documentation, and english.</small></p>
  </section>
  <section>
    <h4>Where to put stylesheet 🤔?</h4>
    <p>Inline, Internal, or External.</p>
    <img class="plain" alt="Stylesheet: Where to put?"
         src="{{< assets-frontend >}}/2020/04/11-stylesheet-inline.png">
    <p>Yet another humble oldschool case.<br/>
      <small><a href="{{< baseurl >}}frontend/2020/04/02/html-stylesheet/">
      [HTML - Stylesheet]</a></small>
    </p>
  </section>
  <section>
    <h4>Issue in <strong>oldschool</strong> CSS Development 🙈</h4>
    <ul>
      <li>Reinvent the wheel.<br/>
        <small>Different stylesheet for each project.<br/>
         In need of code reuse.</small></li>
      <li>Debugging. Most of the time.<br/>
        <small>The horror while testing in different browser.</small></li>
      <li>No standard for teamwork.<br/>
        <small>Waste of time, thinking of nice name for classes.</small></li>
      <li>Can we have a generic one 🤔?</li>
    </ul>
  </section>
  <section>
    <h4>Why CSS Framework 🤔?</h4>
    <ul>
      <li>Save man hours.<br/>
        <small>Deliver preview quickly.</small></li>
      <li>Reduce debugging and test.<br/>
        <small>Already well tested. Hence reduce bug.</small></li>
      <li>Ready to read, official documentation</li>
      <li>Community Friendly<br/>
        <small>Known solution for recurring case.</small></li>
      <li>Modularity<br/>
        <small>
          Built on top of CSS preprocessor: Sass, Less, or Stylus,<br/>
          Tailwind on top of PostCSS even more modular.
        </small></li>
    </ul>
  </section>
  <section>
    <h4>Direct advantage to developer 🤠</h4>
    <ul>
      <li>Easy to layout</li>
      <li>Ready to use:<br/>
        <small>reset, element, component, helper</small></li>
      <li>Predefined properties:<br/>
        <small>color, and such</small></li>
    </ul>
  </section>
  <section>
    <h4>Disadvantage 🙈</h4>
    <ul>
      <li>Another learning time</li>
      <li>Bloated<br/>
        <small>unless utilize modular feature.<br/>
        exclude unneeded artefact</small></li>
      <li>Feels like witchery.<br/>
        <small>This things work, and nobody knows why.</small></li>
    </ul>
    <h4>Disadvantage for beginner 🙈</h4>
    <ul>
      <li>Basic Design Provided:<br/>
        <small>Every site made, will have similar looks.</small></li>
    </ul>
  </section>
  <section>
    <h4>When not Using CSS Framework 🤔?</h4>
    <ul>
      <li>You want to write your own<br/>
        <small>This is technically make sense, for custom design.<br/>
        To make something that suitable for your need.</small></li>
      <li>You step into a team with legacy project.</li>
      <li>AMP:<br/>
        <small>that require embedded stylesheet.</small></li>
    </ul>
  </section>

  <section>
    <h4>Step by Step Examples 🤠?</h4>
    <ul>
      <li>Bulma:<br/>
      <small>
        <a href="https://gitlab.com/epsi-rns/tutor-html-bulma">
        Bulma + SASS</a><br/>
        <a href="https://gitlab.com/epsi-rns/tutor-html-bulma-md">
        Bulma + Custom SASS (Material Design)</a>
      </small></li>
      <li>Materialize CSS:<br/>
      <small><a href="https://gitlab.com/epsi-rns/tutor-html-materialize">
        Materialize CSS + SCSS</a></small></li>
      <li>Semantic UI:<br/>
      <small><a href="https://gitlab.com/epsi-rns/tutor-html-semantic-ui">
        Semantic UI + Custom LESS (Material Design)</a></small></li>
      <li>Bootstrap:<br/>
      <small><a href="https://gitlab.com/epsi-rns/tutor-html-bootstrap-oc">
        Bootstrap + Custom SASS (Open Color)</a></small></li>
      <li>Custom:<br/><small>Make your own case, and share!</small></li>
    </ul>
  </section>

  <section>
    <h3>Tool: Preprocessor 🤠!</h3>
    <p>What is this CSS prepocessor rubbish 🤔?</p>
    <ul>
      <li>In short: CSS with superpowers ✊!<br/>
        <small>Just the tool we desire.</small></li>
    </ul>
  </section>
  <section>
    <h4>The CSS Frustration 🤕</h4>
    <ul>
      <li>CSS code get ugly from time to time.<br/>
        <small>Nomore clean code.<br/>
        Hard to read.<br/>
        Hard to maintain.</small></li>
      <li>Always rewrite, for any changes<br/>
        <small>No variables in old browser.</small></li>
      <li>Modularization affect HTTP perfomance. 🤧<br/>
        <small>Multiple files require more HTTP requests.</small></li>
    </ul>
    <p>In short:<br>
      <small>Developing with CSS without tools
      is not scalable for large project.</small></p>
  </section>
  <section>
    <h4>Why CSS Preprocessor 🤔?</h4>
    <p><small>Sass, Less or Stylus</small></p>
    <ul>
      <li>Modularity<br>
        <small>Let's get organized.<br>
        Cleaner code.</small></li>
      <li>Easier to maintain stylesheet</li>
      <li>Basic coding:<br>
        <small>import partials, variables, interpolation,
        mixins, function arguments</small></li>
      <li>Made for developer.<br>
        <small>Simplified declaration.<br>
        While compiled css is made for machine (web browser).</small></li>
    </ul>
  </section>
  <section>
    <h4>Direct advantage to developer 🤠</h4>
    <ul>
      <li>Modify custom properties:<br>
        <small>color, and such</small></li>
      <li>Ready to alter:<br>
        <small>reset, element, component</small></li>
      <li>You can claim yourself as a coder.<br/>
        <small>This is a joke. ✋🏼🤡🤚🏽<br>
        Yes, there is a compilation process.</small></li>
    </ul>
  </section>
  <section>
    <h4>When not Using CSS Preprocessor 🤔?</h4>
    <ul>
      <li>You want to use unmodifed version CSS Frameworks.<br>
        <small>Such as using CDN.</small></li>
      <li>Else, I'm still thinking...  </li>
    </ul>
  </section>
  <section>
    <h4>Current 2019 State 🤠</h4>
    <ul>
      <li>SASS has wide implementation in many language<br>
        <small>Most common are: dart-sass, node-sass, and deprecated ruby-sass<br>
        Supported in both Gulp and Grunt.<br/>
        And bundler: webpack, rollup, and parcel.</small></li>
      <li>PostCSS with Tailwind CSS is a rising star.<br>
        <small>PostCSS itself is more than just Preprocessor.</small></li>
      <li>LESS is less used.</li>
      <li>I do not know about this one:<br>
        <small>Stylus</small></li>
    </ul>
  </section>
  <section>
    <h4>Which One 🤔?</h4>
    <ul>
      <li>Choose what works for you 🙏🏽!</li>
      <li>I don't know. I'm just a blogger.</li>
      <li>Learning:<br/>
        <small><a href="https://t.me/html_css_id">@html_css_id</a></small></li>
    </ul>
  </section>

  <section>
    <h4>Preprocessor Examples 🤠?</h4>
    <ul>
      <li>Custom SASS:<br/>
      <small><a href="/frontend/2019/06/21/sass-loop-spacing-class/">
        SASS: Loop - Spacing Class</a></small></li>
      <li>Custom LESS:<br/>
      <small>
        <a href="/frontend/2019/10/03/less-loop-spacing-class/">
        LESS: Loop - Spacing Class</a><br/>
        <a href="/frontend/2019/10/04/less-conditional-color-class/">
        LESS: Conditional - Color Class</a>
      </small></li>
      <li>Custom PostCSS:<br/>
      <small><a href="/frontend/2019/10/04/less-conditional-color-class/">
        PostCSS: Loop - Spacing Class</a></small></li>
    </ul>
  </section>
  <section>
    <h3>Respect 🤠!</h3>
    <p>Special thank you for the smart guys/girls,<br>
      behind these CSS preprocessor project.</p>
  </section>

  <section>
    <h4>CSS supporting Technologies 🤔?</h4>
      <li>Task Runner:<br/>
        <small>
          <a href="/frontend/2020/04/11/tools-task-runner-grunt/">
          Grunt</a>,
          Gulp, Brunch, Broccolli.
        </small></li>
      <li>Bundler:<br/>
        <small>
          <a href="/frontend/2020/04/13/tools-bundler-webpack-01/">
          Webpack</a>,
          <a href="/frontend/2020/04/17/tools-bundler-rollup-01/">
          Rollup</a>,
          <a href="/frontend/2020/04/19/tools-bundler-parcel/">
          Parcel</a>.
        </small></li>
    </ul>
    <p>Just like you. I'm still learning.</p>
  </section>

  <section>
    <h4>Not Covered Yet 🤔?</h4>
    <p>More about CSS supporting Technologies</p>
    <ul>
      <li>PostCSS:<br/>
        <small>Along with their plugins.</small></li>
      <li>Custom CSS without Framework:<br/>
        <small>Along with repository example.</small></li>
      <li>Tailwind:<br/>
        <small>Along with repository example.</small></li>
    </ul>
    <p>This presentation will likely to change.<br/>
    <small>Depend on my knowledge growth.</small></p>
  </section>

  <section>
    <h3>Summary 🤔?</h3>
    <p>Along with local communities 🤠.</p>
    <ul>
      <li>CSS Framework:<br/>
        <small>
          <a href="https://t.me/bulma_id">Bulma</a>,
          Materialize CSS,
          Semantic UI,
          <a href="https://t.me/TailwindID">Tailwind CSS</a>,<br/>
          <a href="https://t.me/Stylesheet_ID">Custom CSS</a>.<br/>
          Local Communities:
        <a href="https://t.me/belajarhtmlcss">belajarhtmlcss</a>,
        <a href="https://t.me/FrontEndID/">FrontEndID</a>
        </small></li>
      <li>CSS Preprocessor:<br/>
        <small>
          SASS,
          LESS,
          PreCSS (via PostCSS)
          <br/>
          Local Community:
          <a href="https://t.me/html_css_id/">html_css_id</a>
        </small></li>
      <li>Useful Tools:<br/>
        <small>
          Task Runner: Gulp, Grunt,<br/>
          Bundler: Webpack, Parcel, Roller<br/>
          Local Community:
          <a href="https://t.me/html_css_id/">html_css_id</a>
        </small></li>
    </ul>
  </section>

  <section>
    <h4>What is Next 🤔?</h4>
    <p>Leverage to SSG!</p>
    <p><small>
      <a href="/ssg/2019/02/17/concept-ssg/">Introduction to SSG for beginner.</a><br/>
      Learn to make a fully mature website<br/>
      without the burden of complicated backend.
    </small></p>
  </section>
  <section>
    <h3>Questions 🤔?</h3>
    <p>Don't be shy 🙋🏻‍♂️!</p>
  </section>
  <section>
    <h3>The End</h3>
    <p>🙇🏻</p>
    <p>Thank You for Your Time.</p>        
  </section>
