  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header pink lighten-4">

      <strong>Articles Counts</strong>
      <span class="fa fa-user is-pulled-right"></span>

    </div>
    <div class="widget-body pink lighten-5">

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">SSG</p>
      <p class="title numerator"
         data-number="{{ len (where .Site.RegularPages "Section" "==" "ssg") }}"
        >0</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Frontend</p>
      <p class="title numerator"
         data-number="{{ len (where .Site.RegularPages "Section" "==" "frontend") }}"
        >0</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">DevOps</p>
      <p class="title numerator"
         data-number="{{ len (where .Site.RegularPages "Section" "==" "devops") }}"
        >0</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Design</p>
      <p class="title numerator"
         data-number="{{ len (where .Site.RegularPages "Section" "==" "design") }}"
        >0</p>
    </div>
  </div>
</nav>

    </div>
  </div>
