  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header pink lighten-4">

      <strong>Articles Barchart</strong>
      <span class="fa fa-user is-pulled-right"></span>

    </div>
    <div class="widget-body pink lighten-5">

  <div id="container__bar"
       class="has-text-left"
       data-count="{{ len (where .Site.RegularPages "Section" "!=" "") }}">

    <div class="my__progressbar"
       data-count="{{ len (where .Site.RegularPages "Section" "==" "ssg") }}">
      <div class="my__progressbar_text"
        >SSG: <span class="my__progressbar_perc"
          ></span></div>
      <div class="my__inner_bar"></div>
    </div>

    <div class="my__progressbar"
       data-count="{{ len (where .Site.RegularPages "Section" "==" "frontend") }}">
      <div class="my__progressbar_text"
        >Frontend: <span class="my__progressbar_perc"
          ></span></div>
      <div class="my__inner_bar"></div>
    </div>

    <div class="my__progressbar"
       data-count="{{ len (where .Site.RegularPages "Section" "==" "devops") }}">
      <div class="my__progressbar_text"
        >Devops: <span class="my__progressbar_perc"
          ></span></div>
      <div class="my__inner_bar"></div>
    </div>

    <div class="my__progressbar"
       data-count="{{ len (where .Site.RegularPages "Section" "==" "design") }}">
      <div class="my__progressbar_text"
        >Design: <span class="my__progressbar_perc"
          ></span></div>
      <div class="my__inner_bar"></div>
    </div>

  </div>

    </div>
  </div>
