{{ $color := .Get "color" | default "teal" }}

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header {{ $color }} lighten-4">

      <strong>{{ .Get "title" }}</strong>
      {{ with .Get "title" }}
      <span class="fas fa-fingerprint is-pulled-right"></span>
      {{ end }}

    </div>
    <div class="widget-body {{ $color }} lighten-5">
        {{ .Inner | markdownify | safeHTML }}
    </div>
  </div>
