{{ define "main" }}
  {{ $color := "orange" }}
  <main role="main" 
        class="column is-full">

    {{- block "yaosb" . }}
    <div class="animate__animated animate__observe"
         data-animate="flash"
         id="sitedesc_image"></div>
    {{- end }}

    <section class="main-wrapper {{ $color }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header {{ $color }} lighten-5">
          {{ partial "page/blog-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ .Content }}
         
          {{ $posts := where .Site.Pages "Type" "in" site.Params.mainSections }}
          {{ $dict := (dict "Color" $color "Posts" $posts) }}
          {{ partial "index/by-month.html" $dict }}
        </article>

      </div>
    </section>

  </main>
{{ end }}
